In [211]:
import pandas as pd
import numpy as np

In [212]:
stats_2017_1 = pd.read_csv('Data/Historic_Stats/2017_1.csv')

In [213]:
historic_stats = stats_2017_1[['Name', 'Team', 'Week', 'Opponent', 'FantasyPointsPerGame', 'FantasyPoints']]

In [214]:
historic_stats = historic_stats.rename(columns={'FantasyPointsPerGame':'FPPPG', 'FantasyPoints':'Points_Scored'})

In [215]:
historic_stats

                      Name Team  Week Opponent  FPPPG  Points_Scored
0              Kareem Hunt   KC     1       NE   40.6          40.60
1               Alex Smith   KC     1       NE   31.0          31.02
2     Jacksonville Jaguars  JAX     1      HOU   28.0          28.00
3         Los Angeles Rams  LAR     1      IND   28.0          28.00
4         Matthew Stafford  DET     1      ARI   27.1          27.08
...                    ...  ...   ...      ...    ...            ...
1128          Tavon Austin  LAR     1      IND   -0.2          -0.20
1129          Sean Mannion  LAR     1      IND   -0.2          -0.22
1130       Jamison Crowder  WAS     1      PHI   -0.6          -0.60
1131            Tom Savage  HOU     1      JAX   -1.5          -1.52
1132           Andy Dalton  CIN     1      BAL   -3.0          -3.00

[1133 rows x 6 columns]

In [216]:
stats_list = []
for i in range(2,18):
    name = 'Data/Historic_Stats/2017_' + str(i) + '.csv'
    stats_list.append(name)

In [217]:
stats_list

['Data/Historic_Stats/2017_2.csv',
 'Data/Historic_Stats/2017_3.csv',
 'Data/Historic_Stats/2017_4.csv',
 'Data/Historic_Stats/2017_5.csv',
 'Data/Historic_Stats/2017_6.csv',
 'Data/Historic_Stats/2017_7.csv',
 'Data/Historic_Stats/2017_8.csv',
 'Data/Historic_Stats/2017_9.csv',
 'Data/Historic_Stats/2017_10.csv',
 'Data/Historic_Stats/2017_11.csv',
 'Data/Historic_Stats/2017_12.csv',
 'Data/Historic_Stats/2017_13.csv',
 'Data/Historic_Stats/2017_14.csv',
 'Data/Historic_Stats/2017_15.csv',
 'Data/Historic_Stats/2017_16.csv',
 'Data/Historic_Stats/2017_17.csv']

In [218]:
appended_data = pd.DataFrame()
for index, item in enumerate(stats_list):
    df = pd.read_csv(item)
    df = df[['Name', 'Team', 'Week', 'Opponent', 'FantasyPointsPerGameFanDuel', 'FantasyPointsFanDuel']]
    df = df.rename(columns={'FantasyPointsPerGameFanDuel':'FPPPG', 'FantasyPointsFanDuel':'Points_Scored'})
    appended_data = appended_data.append(df)

In [219]:
historic_stats = pd.concat([historic_stats, appended_data])

In [220]:
historic_stats = historic_stats.reset_index(drop=True)

In [221]:
proj_list = []
for i in range(1,18):
    name = 'Data/Historic_Proj/2017_' + str(i) + '.csv'
    proj_list.append(name)

In [222]:
historic_projections = pd.DataFrame()
for item in proj_list:
    df = pd.read_csv(item)
    df = df[['Name', 'Position', 'Week', 'Team','UpcomingOpponentPositionRank', 'FantasyPointsFanDuel', 'OperatorSalary']]
    df = df.rename(columns={'UpcomingOpponentPositionRank':'OPRNK', 'FantasyPointsFanDuel': 'Projected', 'OperatorSalary': 'Salary'})
    historic_projections = historic_projections.append(df)

In [223]:
historic_projections

                     Name Position  Week Team  OPRNK  Projected  Salary
0           David Johnson       RB     1  ARI    8.0      20.86    9400
1            Le'Veon Bell       RB     1  PIT   31.0      21.31    9300
2           Antonio Brown       WR     1  PIT   25.0      17.17    9100
3             Julio Jones       WR     1  ATL   27.0      15.88    9000
4               Tom Brady       QB     1   NE   10.0      20.06    8900
..                    ...      ...   ...  ...    ...        ...     ...
705   San Francisco 49ers      DST    17   SF    NaN       8.20    4000
706        Dallas Cowboys      DST    17  DAL    NaN       7.70    4000
707  Tampa Bay Buccaneers      DST    17   TB    NaN       4.50    4000
708         New York Jets      DST    17  NYJ    NaN       2.90    4000
709      Cleveland Browns      DST    17  CLE    NaN       5.10    3000

[9154 rows x 7 columns]

In [224]:
data_2017 = historic_stats.merge(historic_projections, how='inner', on=['Name', 'Week', 'Team'])

In [225]:
offense_2017 = data_2017[data_2017['Position'] != 'DST']

In [226]:
offense_2017 = offense_2017.drop_duplicates()

In [227]:
offense_2017['Name'].value_counts()

Chris Thompson      18
Vernon Davis        15
Derrick Henry       15
Delanie Walker      15
Josh Doctson        15
                    ..
Sam Ficken           1
Jace Billingsley     1
Dare Ogunbowale      1
David Moore          1
EJ Manuel            1
Name: Name, Length: 584, dtype: int64

In [228]:
offense_2017 = offense_2017.drop(offense_2017[(offense_2017['Name'] == 'Chris Thompson') & (offense_2017['Team'] == 'HOU')].index)

In [229]:
offense_2017['Name'].value_counts()

Vernon Davis         15
Derrick Henry        15
Josh Doctson         15
Delanie Walker       15
Ryan Grant           15
                     ..
Jason Vander Laan     1
Jeremy McNichols      1
Sean Culkin           1
Geremy Davis          1
Cooper Rush           1
Name: Name, Length: 584, dtype: int64

Testing FPPG Add

In [230]:
grouped = offense_2017.groupby(['Name', 'Week']).sum()

In [231]:
grouped['Games_Played'] = 1

In [232]:
new_df = grouped.groupby(level=0).cumsum().reset_index()

In [233]:
new_df['FP_per_game'] = round(new_df['Points_Scored'] / new_df['Games_Played'], 1)

In [234]:
new_df = new_df[['Name', 'Week', 'FP_per_game', 'Games_Played']]

In [235]:
new_df

           Name  Week  FP_per_game  Games_Played
0      AJ Derby     1          3.4             1
1      AJ Derby     2          1.7             2
2      AJ Derby     3          1.5             3
3      AJ Derby     4          5.0             4
4      AJ Derby     6          4.3             5
...         ...   ...          ...           ...
5413  Zay Jones    13          5.5             8
5414  Zay Jones    14          4.9             9
5415  Zay Jones    15          4.4            10
5416  Zay Jones    16          4.0            11
5417  Zay Jones    17          4.0            12

[5418 rows x 4 columns]

In [236]:
offense_2017 = pd.merge(offense_2017, new_df, how='inner', on=['Name', 'Week'])

In [237]:
offense_2017 = offense_2017.drop('FPPPG', axis=1)

In [238]:
offense_2017[offense_2017['Name'] == 'Tom Brady']

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,FP_per_game,Games_Played
60,Tom Brady,NE,1,KC,10.68,QB,10.0,20.06,8900,10.7,1
395,Tom Brady,NE,2,NO,30.78,QB,27.0,22.17,9200,20.7,2
795,Tom Brady,NE,3,HOU,35.72,QB,5.0,18.70,9400,25.7,3
1224,Tom Brady,NE,4,CAR,20.48,QB,7.0,20.62,9500,24.4,4
1622,Tom Brady,NE,5,TB,13.62,QB,30.0,21.87,9500,22.3,5
1669,Tom Brady,NE,6,NYJ,17.18,QB,19.0,20.89,9500,21.4,6
2426,Tom Brady,NE,10,DEN,22.64,QB,15.0,18.06,8500,21.6,7
2776,Tom Brady,NE,11,LV,25.60,QB,22.0,20.53,8600,22.1,8
3139,Tom Brady,NE,12,MIA,21.68,QB,20.0,21.46,9100,22.0,9
3568,Tom Brady,NE,13,BUF,9.32,QB,7.0,19.87,9300,20.8,10
3965,Tom Brady,NE,14,MIA,11.32,QB,17.0,20.70,9500,19.9,11
4325,Tom Brady,NE,15,PIT,16.72,QB,6.0,20.66,8800,19.6,12
4705,Tom Brady,NE,16,BUF,16.56,QB,4.0,19.65,8600,19.4,13
5072,Tom Brady,NE,17,NYJ,15.60,QB,28.0,19.50,8500,19.1,14

In [239]:
offense_2017['Team'].value_counts().index

Index(['TEN', 'DEN', 'PHI', 'NE', 'JAX', 'GB', 'KC', 'WAS', 'TB', 'NYG', 'ATL',
       'BUF', 'LAR', 'LV', 'CAR', 'BAL', 'CIN', 'SF', 'DAL', 'ARI', 'CHI',
       'NYJ', 'PIT', 'SEA', 'MIA', 'CLE', 'NO', 'LAC', 'HOU', 'DET', 'IND',
       'MIN'],
      dtype='object')

## Merge with NFL Betting Data

In [240]:
betting_data = pd.read_excel('Data/clean_nfl_historic_betting_data_Home.xlsx')

In [241]:
betting_data_2 = pd.read_excel('Data/clean_nfl_historic_betting_data_Away.xlsx')

In [242]:
betting_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               4007 non-null   datetime64[ns]
 1   Team               4007 non-null   object
 2   Line Close         1871 non-null   float64
 3   Total Score Close  1871 non-null   float64
 4   Team Proj          1871 non-null   float64
 5   Week               1871 non-null   float64
 6   Home / Away        1871 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 219.3+ KB

In [243]:
betting_data = pd.concat([betting_data, betting_data_2])

In [244]:
betting_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8014 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8014 non-null   datetime64[ns]
 1   Team               8014 non-null   object
 2   Line Close         3742 non-null   float64
 3   Total Score Close  3742 non-null   float64
 4   Team Proj          3742 non-null   float64
 5   Week               3742 non-null   float64
 6   Home / Away        3742 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 500.9+ KB

In [245]:
betting_data['Date'] = betting_data['Date'].dt.year

In [246]:
betting_data = betting_data[betting_data['Date'] == 2017]

In [247]:
betting_data = betting_data[betting_data['Week'] != 0]

In [248]:
betting_data

      Date Team  Line Close  Total Score Close  Team Proj  Week Home / Away
814   2017  DEN        -3.0               37.5      21.75  17.0        Home
815   2017  LAC        -7.0               43.0      28.50  17.0        Home
816   2017  LAR         6.0               44.5      16.25  17.0        Home
817   2017  SEA        -8.0               38.0      27.00  17.0        Home
818   2017  ATL        -5.0               44.5      27.25  17.0        Home
...    ...  ...         ...                ...        ...   ...         ...
1065  2017  ARI        -2.5               48.5      26.75   1.0        Away
1066  2017  JAX         5.0               38.0      14.00   1.0        Away
1067  2017   LV         2.5               49.5      22.25   1.0        Away
1068  2017  PHI        -1.0               49.5      25.75   1.0        Away
1069  2017   KC         8.0               47.5      15.75   1.0        Away

[512 rows x 7 columns]

In [249]:
offense_2017 = offense_2017.merge(betting_data, how='inner', on=['Team', 'Week'])

In [250]:
offense_2017[offense_2017['Week'] == 12].head(50)

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,FP_per_game,Games_Played,Date,Line Close,Total Score Close,Team Proj,Home / Away
3124,Julio Jones,ATL,12,TB,44.80,WR,31.0,13.86,7800,13.9,9,2017,-10.5,47.0,34.00,Home
3125,Tevin Coleman,ATL,12,TB,21.70,RB,21.0,14.56,6200,12.5,9,2017,-10.5,47.0,34.00,Home
3126,Matt Ryan,ATL,12,TB,16.78,QB,23.0,17.79,7600,15.7,9,2017,-10.5,47.0,34.00,Home
3127,Matt Bryant,ATL,12,TB,11.00,K,14.0,9.00,4900,10.1,9,2017,-10.5,47.0,34.00,Home
3128,Austin Hooper,ATL,12,TB,5.30,TE,5.0,7.21,5200,7.0,9,2017,-10.5,47.0,34.00,Home
3129,Taylor Gabriel,ATL,12,TB,3.10,WR,31.0,5.19,5200,5.6,9,2017,-10.5,47.0,34.00,Home
3130,Terron Ward,ATL,12,TB,1.70,RB,21.0,6.69,4900,1.2,7,2017,-10.5,47.0,34.00,Home
3131,Derrick Coleman,ATL,12,TB,0.00,RB,21.0,0.33,4500,0.4,9,2017,-10.5,47.0,34.00,Home
3132,Levine Toilolo,ATL,12,TB,0.00,TE,5.0,1.68,4500,1.8,9,2017,-10.5,47.0,34.00,Home
3133,Eric Saubert,ATL,12,TB,0.00,TE,5.0,0.45,4500,0.0,9,2017,-10.5,47.0,34.00,Home
3134,Andre Roberts,ATL,12,TB,0.00,WR,31.0,0.27,4500,-0.0,9,2017,-10.5,47.0,34.00,Home
3135,Justin Hardy,ATL,12,TB,0.00,WR,31.0,4.01,4500,3.4,9,2017,-10.5,47.0,34.00,Home
3136,Antonio Brown,PIT,12,GB,35.90,WR,26.0,15.76,9600,19.9,8,2017,-14.0,42.5,35.25,Home
3137,Ben Roethlisberger,PIT,12,GB,32.54,QB,13.0,17.69,7900,18.8,8,2017,-14.0,42.5,35.25,Home
3138,Le'Veon Bell,PIT,12,GB,22.30,RB,26.0,17.77,9400,18.1,8,2017,-14.0,42.5,35.25,Home
3139,Martavis Bryant,PIT,12,GB,12.10,WR,26.0,8.03,5200,7.0,8,2017,-14.0,42.5,35.25,Home
3140,Chris Boswell,PIT,12,GB,7.00,K,30.0,9.10,4800,8.9,8,2017,-14.0,42.5,35.25,Home
3141,Xavier Grimble,PIT,12,GB,6.60,TE,1.0,1.70,4500,0.9,7,2017,-14.0,42.5,35.25,Home
3142,Jesse James,PIT,12,GB,4.70,TE,1.0,5.68,4900,5.6,8,2017,-14.0,42.5,35.25,Home
3143,Eli Rogers,PIT,12,GB,3.60,WR,26.0,4.82,4500,1.4,7,2017,-14.0,42.5,35.25,Home
3144,Darrius Heyward-Bey,PIT,12,GB,0.00,WR,26.0,2.26,4500,0.0,8,2017,-14.0,42.5,35.25,Home
3145,James Conner,PIT,12,GB,0.00,RB,26.0,1.74,4600,1.0,8,2017,-14.0,42.5,35.25,Home
3146,Justin Hunter,PIT,12,GB,0.00,WR,26.0,1.68,4500,0.5,2,2017,-14.0,42.5,35.25,Home
3147,Alvin Kamara,NO,12,LAR,33.80,RB,30.0,13.67,8100,17.8,9,2017,2.5,54.0,24.50,Away
3148,Drew Brees,NO,12,LAR,14.34,QB,5.0,16.94,7800,17.9,9,2017,2.5,54.0,24.50,Away
3149,Wil Lutz,NO,12,LAR,10.00,K,2.0,8.60,5100,11.3,9,2017,2.5,54.0,24.50,Away
3150,Michael Thomas,NO,12,LAR,7.70,WR,7.0,13.88,7600,11.3,9,2017,2.5,54.0,24.50,Away
3151,Coby Fleener,NO,12,LAR,1.30,TE,13.0,4.25,4900,5.2,9,2017,2.5,54.0,24.50,Away
3152,Tommylee Lewis,NO,12,LAR,0.00,WR,7.0,2.00,4500,1.5,8,2017,2.5,54.0,24.50,Away
3153,Michael Hoomanawanui,NO,12,LAR,0.00,TE,13.0,1.32,4500,1.5,9,2017,2.5,54.0,24.50,Away
3154,Brandon Coleman,NO,12,LAR,0.00,WR,7.0,3.97,4900,4.2,9,2017,2.5,54.0,24.50,Away
3155,Zach Line,NO,12,LAR,0.00,RB,30.0,0.17,4500,0.4,4,2017,2.5,54.0,24.50,Away
3156,Josh Hill,NO,12,LAR,0.00,TE,13.0,1.70,4500,1.1,9,2017,2.5,54.0,24.50,Away
3157,Trey Edmunds,NO,12,LAR,0.00,TE,13.0,0.00,4500,1.2,9,2017,2.5,54.0,24.50,Away
3158,Robby Anderson,NYJ,12,CAR,29.60,WR,11.0,9.81,6700,12.4,8,2017,5.5,39.5,14.25,Home
3159,Josh McCown,NYJ,12,CAR,25.08,QB,6.0,13.81,7300,15.4,8,2017,5.5,39.5,14.25,Home
3160,Jermaine Kearse,NYJ,12,CAR,20.00,WR,11.0,6.88,5500,9.5,8,2017,5.5,39.5,14.25,Home
3161,Chandler Catanzaro,NYJ,12,CAR,9.00,K,9.0,5.90,4600,8.8,8,2017,5.5,39.5,14.25,Home
3162,Bilal Powell,NYJ,12,CAR,5.10,RB,4.0,8.80,5800,8.1,7,2017,5.5,39.5,14.25,Home
3163,Elijah McGuire,NYJ,12,CAR,3.90,RB,4.0,7.47,5000,5.5,8,2017,5.5,39.5,14.25,Home
3164,Austin Seferian-Jenkins,NYJ,12,CAR,3.70,TE,13.0,7.21,5600,6.9,6,2017,5.5,39.5,14.25,Home
3165,Matt Forte,NYJ,12,CAR,2.60,RB,4.0,2.25,5400,9.2,6,2017,5.5,39.5,14.25,Home
3166,Lawrence Thomas,NYJ,12,CAR,1.00,RB,4.0,0.00,4500,0.5,2,2017,5.5,39.5,14.25,Home
3167,Neal Sterling,NYJ,12,CAR,0.00,WR,11.0,0.00,4500,0.2,6,2017,5.5,39.5,14.25,Home
3168,Ardarius Stewart,NYJ,12,CAR,0.00,WR,11.0,1.25,4500,0.8,8,2017,5.5,39.5,14.25,Home
3169,Eric Tomlinson,NYJ,12,CAR,0.00,TE,13.0,2.00,4500,0.6,6,2017,5.5,39.5,14.25,Home
3170,Chad Hansen,NYJ,12,CAR,0.00,WR,11.0,3.53,4500,0.7,7,2017,5.5,39.5,14.25,Home
3171,Jamaal Williams,GB,12,PIT,27.50,RB,6.0,9.49,5400,6.9,9,2017,14.0,42.5,7.25,Away
3172,Brett Hundley,GB,12,PIT,22.40,QB,3.0,11.97,6200,11.4,6,2017,14.0,42.5,7.25,Away
3173,Davante Adams,GB,12,PIT,16.70,WR,4.0,10.97,6600,12.7,9,2017,14.0,42.5,7.25,Away

## 2018

In [251]:
stats_list = []
for i in range(1,18):
    name = 'Data/Historic_Stats/2018_' + str(i) + '.csv'
    stats_list.append(name)

stats_list

['Data/Historic_Stats/2018_1.csv',
 'Data/Historic_Stats/2018_2.csv',
 'Data/Historic_Stats/2018_3.csv',
 'Data/Historic_Stats/2018_4.csv',
 'Data/Historic_Stats/2018_5.csv',
 'Data/Historic_Stats/2018_6.csv',
 'Data/Historic_Stats/2018_7.csv',
 'Data/Historic_Stats/2018_8.csv',
 'Data/Historic_Stats/2018_9.csv',
 'Data/Historic_Stats/2018_10.csv',
 'Data/Historic_Stats/2018_11.csv',
 'Data/Historic_Stats/2018_12.csv',
 'Data/Historic_Stats/2018_13.csv',
 'Data/Historic_Stats/2018_14.csv',
 'Data/Historic_Stats/2018_15.csv',
 'Data/Historic_Stats/2018_16.csv',
 'Data/Historic_Stats/2018_17.csv']

In [252]:
stats_2018 = pd.DataFrame()
for index, item in enumerate(stats_list):
    df = pd.read_csv(item)
    df = df[['Name', 'Team', 'Week', 'Opponent', 'FantasyPointsPerGameFanDuel', 'FantasyPointsFanDuel']]
    df = df.rename(columns={'FantasyPointsPerGameFanDuel':'FPPPG', 'FantasyPointsFanDuel':'Points_Scored'})
    stats_2018 = stats_2018.append(df)

In [253]:
stats_2018

                     Name Team  Week Opponent  FPPPG  Points_Scored
0        Ryan Fitzpatrick   TB     1       NO   42.3          42.28
1             Tyreek Hill   KC     1      LAC   38.8          38.80
2            Alvin Kamara   NO     1       TB   38.6          38.60
3            James Conner  PIT     1      CLE   31.7          31.70
4              Drew Brees   NO     1       TB   31.6          31.56
...                   ...  ...   ...      ...    ...            ...
1171          Brian Hoyer   NE    17      NYJ   -0.3          -0.30
1172        Jahleel Addae  LAC    17      DEN   -2.0          -2.00
1173      Adoree' Jackson  TEN    17      IND   -2.0          -2.00
1174           Geno Smith  LAC    17      DEN   -2.2          -2.20
1175  San Francisco 49ers   SF    17      LAR   -4.0          -4.00

[19105 rows x 6 columns]

In [254]:
proj_list = []
for i in range(1,18):
    name = 'Data/Historic_Proj/2018_' + str(i) + '.csv'
    proj_list.append(name)
    
proj_list

['Data/Historic_Proj/2018_1.csv',
 'Data/Historic_Proj/2018_2.csv',
 'Data/Historic_Proj/2018_3.csv',
 'Data/Historic_Proj/2018_4.csv',
 'Data/Historic_Proj/2018_5.csv',
 'Data/Historic_Proj/2018_6.csv',
 'Data/Historic_Proj/2018_7.csv',
 'Data/Historic_Proj/2018_8.csv',
 'Data/Historic_Proj/2018_9.csv',
 'Data/Historic_Proj/2018_10.csv',
 'Data/Historic_Proj/2018_11.csv',
 'Data/Historic_Proj/2018_12.csv',
 'Data/Historic_Proj/2018_13.csv',
 'Data/Historic_Proj/2018_14.csv',
 'Data/Historic_Proj/2018_15.csv',
 'Data/Historic_Proj/2018_16.csv',
 'Data/Historic_Proj/2018_17.csv']

In [255]:
projections_2018 = pd.DataFrame()
for item in proj_list:
    df = pd.read_csv(item)
    df = df[['Name', 'Position', 'Week', 'Team','UpcomingOpponentPositionRank', 'FantasyPointsFanDuel', 'OperatorSalary']]
    df = df.rename(columns={'UpcomingOpponentPositionRank':'OPRNK', 'FantasyPointsFanDuel': 'Projected', 'OperatorSalary': 'Salary'})
    projections_2018 = projections_2018.append(df)

In [256]:
projections_2018

                 Name Position  Week Team  OPRNK  Projected  Salary
0         Todd Gurley       RB     1  LAR   17.0      20.49    9000
1       Antonio Brown       WR     1  PIT   15.0      16.99    9000
2     DeAndre Hopkins       WR     1  HOU   29.0      16.25    8800
3       Aaron Rodgers       QB     1   GB    7.0      20.66    8700
4        Alvin Kamara       RB     1   NO   28.0      19.72    8700
..                ...      ...   ...  ...    ...        ...     ...
151        Tyler Boyd       WR    17  CIN   17.0       0.00       0
152    Allen Robinson       WR    17  CHI    2.0       0.00       0
153    Kenny Golladay       WR    17  DET   28.0       0.00       0
154       Todd Gurley       RB    17  LAR   21.0       0.00       0
155  Marquise Goodwin       WR    17   SF   21.0       0.00       0

[9843 rows x 7 columns]

In [257]:
data_2018 = stats_2018.merge(projections_2018, how='inner', on=['Name', 'Week', 'Team'])

In [258]:
offense_2018 = data_2018[data_2018['Position'] != 'DST']

In [259]:
offense_2018 = offense_2018.drop_duplicates()

In [260]:
offense_2018['Name'].value_counts()

Zay Jones              16
JuJu Smith-Schuster    16
Ben Roethlisberger     16
Robert Woods           16
Kirk Cousins           16
                       ..
Matt Flanagan           1
Eli Rogers              1
Jake Elliott            1
Boston Scott            1
Randy Bullock           1
Name: Name, Length: 576, dtype: int64

In [261]:
grouped = offense_2018.groupby(['Name', 'Week']).sum()

In [262]:
grouped['Games_Played'] = 1

In [263]:
new_df = grouped.groupby(level=0).cumsum().reset_index()

In [264]:
new_df['FP_per_game'] = round(new_df['Points_Scored'] / new_df['Games_Played'], 1)

In [265]:
new_df = new_df[['Name', 'Week', 'FP_per_game', 'Games_Played']]

In [266]:
new_df

             Name  Week  FP_per_game  Games_Played
0        AJ Derby     1          0.0             1
1        AJ Derby     2          4.2             2
2        AJ Derby     3          3.5             3
3        AJ Derby    10          3.1             4
4     AJ McCarron     9          0.3             1
...           ...   ...          ...           ...
5586    Zay Jones    13          7.7            12
5587    Zay Jones    14          7.4            13
5588    Zay Jones    15          7.0            14
5589    Zay Jones    16          7.5            15
5590    Zay Jones    17          8.6            16

[5591 rows x 4 columns]

In [267]:
offense_2018 = pd.merge(offense_2018, new_df, how='inner', on=['Name', 'Week'])

In [268]:
offense_2018 = offense_2018.drop('FPPPG', axis=1)

In [269]:
offense_2018[offense_2018['Name'] == 'Tom Brady']

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,FP_per_game,Games_Played
19,Tom Brady,NE,1,HOU,22.28,QB,31.0,19.86,8600,22.3,1
426,Tom Brady,NE,2,JAX,16.36,QB,6.0,17.31,8500,19.3,2
860,Tom Brady,NE,3,DET,8.52,QB,13.0,20.49,8500,15.7,3
1155,Tom Brady,NE,4,MIA,20.96,QB,2.0,19.70,8600,17.0,4
1469,Tom Brady,NE,5,IND,29.54,QB,19.0,19.74,8600,19.5,5
1837,Tom Brady,NE,6,KC,21.80,QB,28.0,22.23,8800,19.9,6
2167,Tom Brady,NE,7,CHI,22.68,QB,11.0,17.82,8700,20.3,7
2528,Tom Brady,NE,8,BUF,13.76,QB,4.0,19.29,8600,19.5,8
2830,Tom Brady,NE,9,GB,15.66,QB,19.0,21.58,8600,19.1,9
3162,Tom Brady,NE,10,TEN,11.26,QB,6.0,19.40,8300,18.3,10
3733,Tom Brady,NE,12,NYJ,19.22,QB,13.0,19.19,8200,18.4,11
4081,Tom Brady,NE,13,MIN,15.94,QB,6.0,19.33,7900,18.2,12
4414,Tom Brady,NE,14,MIA,26.62,QB,17.0,19.31,7600,18.8,13
4814,Tom Brady,NE,15,PIT,14.16,QB,22.0,20.30,7900,18.5,14
5252,Tom Brady,NE,16,BUF,7.04,QB,1.0,18.59,7900,17.7,15
5467,Tom Brady,NE,17,NYJ,26.00,QB,26.0,18.04,0,18.2,16

In [270]:
betting_data = pd.read_excel('Data/clean_nfl_historic_betting_data_Home.xlsx')

In [271]:
betting_data_2 = pd.read_excel('Data/clean_nfl_historic_betting_data_Away.xlsx')

In [272]:
betting_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               4007 non-null   datetime64[ns]
 1   Team               4007 non-null   object
 2   Line Close         1871 non-null   float64
 3   Total Score Close  1871 non-null   float64
 4   Team Proj          1871 non-null   float64
 5   Week               1871 non-null   float64
 6   Home / Away        1871 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 219.3+ KB

In [273]:
betting_data = pd.concat([betting_data, betting_data_2])

In [274]:
betting_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8014 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8014 non-null   datetime64[ns]
 1   Team               8014 non-null   object
 2   Line Close         3742 non-null   float64
 3   Total Score Close  3742 non-null   float64
 4   Team Proj          3742 non-null   float64
 5   Week               3742 non-null   float64
 6   Home / Away        3742 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 500.9+ KB

In [275]:
betting_data['Date'] = betting_data['Date'].dt.year

In [276]:
betting_data = betting_data[betting_data['Date'] == 2018]

In [277]:
betting_data = betting_data[betting_data['Week'] != 0]

In [278]:
betting_data

     Date Team  Line Close  Total Score Close  Team Proj  Week Home / Away
547  2018  TEN         4.5               42.5      16.75  17.0        Home
548  2018  BAL        -7.0               40.5      27.25  17.0        Home
549  2018  DEN         6.5               43.5      15.25  17.0        Home
550  2018  LAR       -10.5               49.5      35.25  17.0        Home
551  2018  MIN        -6.0               39.5      25.75  17.0        Home
..    ...  ...         ...                ...        ...   ...         ...
798  2018   SF         6.0               46.5      17.25   1.0        Away
799  2018  HOU         6.5               49.5      18.25   1.0        Away
800  2018   TB        10.0               49.5      14.75   1.0        Away
801  2018  JAX        -3.0               42.5      24.25   1.0        Away
802  2018  ATL         1.0               44.5      21.25   1.0        Away

[512 rows x 7 columns]

In [279]:
offense_2018 = offense_2018.merge(betting_data, how='inner', on=['Team', 'Week'])

In [280]:
offense_2018[offense_2018['Week'] == 12].head(50)

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,FP_per_game,Games_Played,Date,Line Close,Total Score Close,Team Proj,Home / Away
3704,Christian McCaffrey,CAR,12,SEA,41.20,RB,13.0,17.66,8400,20.9,11,2018,-3.0,46.0,26.00,Home
3705,Cam Newton,CAR,12,SEA,23.54,QB,3.0,20.80,8600,23.5,11,2018,-3.0,46.0,26.00,Home
3706,Curtis Samuel,CAR,12,SEA,11.20,WR,20.0,7.00,5300,8.7,8,2018,-3.0,46.0,26.00,Home
3707,Jarius Wright,CAR,12,SEA,3.50,WR,20.0,3.39,4700,4.6,11,2018,-3.0,46.0,26.00,Home
3708,Greg Olsen,CAR,12,SEA,2.10,TE,5.0,8.81,6500,8.1,8,2018,-3.0,46.0,26.00,Home
3709,Damiere Byrd,CAR,12,SEA,0.00,WR,20.0,0.68,4500,0.2,8,2018,-3.0,46.0,26.00,Home
3710,Torrey Smith,CAR,12,SEA,0.00,WR,20.0,5.03,5300,5.6,7,2018,-3.0,46.0,26.00,Home
3711,Cameron Artis-Payne,CAR,12,SEA,0.00,RB,13.0,2.25,4500,0.0,4,2018,-3.0,46.0,26.00,Home
3712,Chris Manhertz,CAR,12,SEA,0.00,TE,5.0,0.15,4000,0.1,11,2018,-3.0,46.0,26.00,Home
3713,Alex Armah,CAR,12,SEA,0.00,RB,13.0,0.38,4500,1.2,11,2018,-3.0,46.0,26.00,Home
3714,Ian Thomas,CAR,12,SEA,0.00,TE,5.0,0.82,4100,1.3,11,2018,-3.0,46.0,26.00,Home
3715,Amari Cooper,DAL,12,WAS,34.00,WR,18.0,10.65,6500,11.0,10,2018,-7.0,40.0,27.00,Home
3716,Dak Prescott,DAL,12,WAS,27.36,QB,19.0,18.37,7400,17.8,11,2018,-7.0,40.0,27.00,Home
3717,Ezekiel Elliott,DAL,12,WAS,22.80,RB,10.0,18.79,8700,19.4,11,2018,-7.0,40.0,27.00,Home
3718,Blake Jarwin,DAL,12,WAS,3.50,TE,7.0,2.93,4000,0.9,11,2018,-7.0,40.0,27.00,Home
3719,Michael Gallup,DAL,12,WAS,2.90,WR,18.0,5.78,4900,4.1,11,2018,-7.0,40.0,27.00,Home
3720,Jamize Olawale,DAL,12,WAS,1.50,RB,10.0,0.17,4500,0.2,11,2018,-7.0,40.0,27.00,Home
3721,Allen Hurns,DAL,12,WAS,1.20,WR,18.0,3.47,4600,3.9,11,2018,-7.0,40.0,27.00,Home
3722,Cole Beasley,DAL,12,WAS,1.00,WR,18.0,7.23,5300,7.4,11,2018,-7.0,40.0,27.00,Home
3723,Rod Smith,DAL,12,WAS,0.70,RB,10.0,2.00,4500,1.0,11,2018,-7.0,40.0,27.00,Home
3724,Dalton Schultz,DAL,12,WAS,0.40,TE,7.0,2.13,4000,0.9,6,2018,-7.0,40.0,27.00,Home
3725,Lance Lenoir,DAL,12,WAS,0.00,WR,18.0,0.69,4500,0.0,3,2018,-7.0,40.0,27.00,Home
3726,Rico Gathers,DAL,12,WAS,0.00,TE,7.0,1.84,4000,0.6,10,2018,-7.0,40.0,27.00,Home
3727,JuJu Smith-Schuster,PIT,12,DEN,31.40,WR,15.0,13.04,7200,15.6,11,2018,-3.0,47.5,26.75,Away
3728,Ben Roethlisberger,PIT,12,DEN,22.28,QB,15.0,20.03,7900,23.7,11,2018,-3.0,47.5,26.75,Away
3729,Antonio Brown,PIT,12,DEN,11.20,WR,15.0,16.28,8500,17.2,11,2018,-3.0,47.5,26.75,Away
3730,Ryan Switzer,PIT,12,DEN,10.10,WR,15.0,3.52,4600,3.9,11,2018,-3.0,47.5,26.75,Away
3731,James Conner,PIT,12,DEN,9.50,RB,22.0,18.39,7900,20.1,11,2018,-3.0,47.5,26.75,Away
3732,Jesse James,PIT,12,DEN,5.50,TE,26.0,3.89,4700,5.7,11,2018,-3.0,47.5,26.75,Away
3733,Vance McDonald,PIT,12,DEN,4.20,TE,26.0,7.74,5500,7.8,10,2018,-3.0,47.5,26.75,Away
3734,Jaylen Samuels,PIT,12,DEN,1.70,RB,22.0,1.94,4600,1.6,9,2018,-3.0,47.5,26.75,Away
3735,Xavier Grimble,PIT,12,DEN,0.80,TE,26.0,0.41,4100,0.7,11,2018,-3.0,47.5,26.75,Away
3736,Darrius Heyward-Bey,PIT,12,DEN,0.00,WR,15.0,0.27,4500,0.2,9,2018,-3.0,47.5,26.75,Away
3737,James Washington,PIT,12,DEN,0.00,WR,15.0,2.55,4600,1.8,10,2018,-3.0,47.5,26.75,Away
3738,Roosevelt Nix,PIT,12,DEN,0.00,RB,22.0,0.33,4500,0.5,11,2018,-3.0,47.5,26.75,Away
3739,Saquon Barkley,NYG,12,PHI,29.70,RB,10.0,19.72,9000,22.8,11,2018,4.0,49.5,20.75,Away
3740,Eli Manning,NYG,12,PHI,14.88,QB,27.0,17.05,6700,15.9,11,2018,4.0,49.5,20.75,Away
3741,Rhett Ellison,NYG,12,PHI,9.70,TE,3.0,2.45,4300,3.9,10,2018,4.0,49.5,20.75,Away
3742,Sterling Shepard,NYG,12,PHI,5.70,WR,31.0,10.01,6000,9.8,11,2018,4.0,49.5,20.75,Away
3743,Russell Shepard,NYG,12,PHI,3.40,WR,31.0,1.33,4500,1.3,9,2018,4.0,49.5,20.75,Away
3744,Bennie Fowler,NYG,12,PHI,3.30,WR,31.0,1.32,4600,1.6,3,2018,4.0,49.5,20.75,Away
3745,Wayne Gallman,NYG,12,PHI,3.30,RB,10.0,2.65,4600,1.9,11,2018,4.0,49.5,20.75,Away
3746,Elijhaa Penny,NYG,12,PHI,1.20,RB,10.0,0.46,4500,0.7,7,2018,4.0,49.5,20.75,Away
3747,Scott Simonson,NYG,12,PHI,0.00,TE,3.0,0.20,4100,0.4,11,2018,4.0,49.5,20.75,Away
3748,Quadree Henderson,NYG,12,PHI,0.00,WR,31.0,0.00,4500,0.0,3,2018,4.0,49.5,20.75,Away
3749,Corey Coleman,NYG,12,PHI,0.00,WR,31.0,1.80,4500,0.0,1,2018,4.0,49.5,20.75,Away
3750,Deshaun Watson,HOU,12,TEN,29.40,QB,7.0,18.45,7900,20.5,11,2018,-3.5,42.5,24.75,Home
3751,Lamar Miller,HOU,12,TEN,23.20,RB,5.0,12.03,6400,12.1,10,2018,-3.5,42.5,24.75,Home
3752,Demaryius Thomas,HOU,12,TEN,17.80,WR,26.0,7.30,5300,9.2,11,2018,-3.5,42.5,24.75,Home
3753,DeAndre Hopkins,HOU,12,TEN,9.90,WR,26.0,15.70,8400,16.6,11,2018,-3.5,42.5,24.75,Home

## Merge 2017 and 2018

In [281]:
offense_2017['Year'] = 2017

In [282]:
offense_2018['Year'] = 2018

In [283]:
merged_df = pd.concat([offense_2017, offense_2018]).reset_index(drop=True)

In [284]:
merged_df

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,FP_per_game,Games_Played,Date,Line Close,Total Score Close,Team Proj,Home / Away,Year
0,Kareem Hunt,KC,1,NE,40.60,RB,3.0,10.73,6400,40.6,1,2017,8.0,47.5,15.75,Away,2017
1,Alex Smith,KC,1,NE,31.02,QB,11.0,14.69,6900,31.0,1,2017,8.0,47.5,15.75,Away,2017
2,Tyreek Hill,KC,1,NE,19.80,WR,9.0,10.48,6700,19.8,1,2017,8.0,47.5,15.75,Away,2017
3,Charcandrick West,KC,1,NE,8.50,RB,3.0,4.27,5000,8.5,1,2017,8.0,47.5,15.75,Away,2017
4,Demetrius Harris,KC,1,NE,7.50,TE,6.0,2.03,4500,7.5,1,2017,8.0,47.5,15.75,Away,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11017,Adrian Peterson,WAS,17,PHI,0.00,RB,14.0,10.38,0,11.1,15,2018,6.0,43.0,15.50,Home,2018
11018,Dustin Hopkins,WAS,17,PHI,0.00,K,30.0,8.11,0,0.0,1,2018,6.0,43.0,15.50,Home,2018
11019,Jamaal Williams,GB,17,DET,3.50,RB,22.0,14.64,0,6.3,16,2018,-7.5,44.5,29.75,Home,2018
11020,Aaron Rodgers,GB,17,DET,1.04,QB,21.0,20.53,0,19.7,16,2018,-7.5,44.5,29.75,Home,2018
11021,Mason Crosby,GB,17,DET,0.00,K,3.0,9.61,0,0.0,1,2018,-7.5,44.5,29.75,Home,2018

In [210]:
merged_df[merged_df['Salary'] == 0]

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,FP_per_game,Games_Played,Date,Line Close,Total Score Close,Team Proj,Home / Away
10892,Josh Allen,BUF,17,MIA,41.46,QB,16.0,17.76,0,18.3,12,2018,-5.5,39.5,25.25,Home
10893,Zay Jones,BUF,17,MIA,24.30,WR,14.0,8.44,0,8.6,16,2018,-5.5,39.5,25.25,Home
10894,LeSean McCoy,BUF,17,MIA,11.40,RB,29.0,8.11,0,7.9,14,2018,-5.5,39.5,25.25,Home
10895,Dak Prescott,DAL,17,NYG,33.48,QB,11.0,6.00,0,18.4,16,2018,7.0,38.5,12.25,Away
10896,Brett Maher,DAL,17,NYG,4.00,K,31.0,7.54,0,4.0,1,2018,7.0,38.5,12.25,Away
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11017,Adrian Peterson,WAS,17,PHI,0.00,RB,14.0,10.38,0,11.1,15,2018,6.0,43.0,15.50,Home
11018,Dustin Hopkins,WAS,17,PHI,0.00,K,30.0,8.11,0,0.0,1,2018,6.0,43.0,15.50,Home
11019,Jamaal Williams,GB,17,DET,3.50,RB,22.0,14.64,0,6.3,16,2018,-7.5,44.5,29.75,Home
11020,Aaron Rodgers,GB,17,DET,1.04,QB,21.0,20.53,0,19.7,16,2018,-7.5,44.5,29.75,Home
11021,Mason Crosby,GB,17,DET,0.00,K,3.0,9.61,0,0.0,1,2018,-7.5,44.5,29.75,Home

In [285]:
merged_df.to_csv('Data/clean_stats.csv')