In [428]:
import pandas as pd
import numpy as np

In [429]:
stats_2017_1 = pd.read_csv('Data/Historic_Stats/2017_1.csv')

In [430]:
historic_stats = stats_2017_1[['Name', 'Team', 'Week', 'Opponent', 'FantasyPointsPerGame', 'FantasyPoints']]

In [431]:
historic_stats = historic_stats.rename(columns={'FantasyPointsPerGame':'FPPPG', 'FantasyPoints':'Points_Scored'})

In [432]:
historic_stats

                      Name Team  Week Opponent  FPPPG  Points_Scored
0              Kareem Hunt   KC     1       NE   40.6          40.60
1               Alex Smith   KC     1       NE   31.0          31.02
2     Jacksonville Jaguars  JAX     1      HOU   28.0          28.00
3         Los Angeles Rams  LAR     1      IND   28.0          28.00
4         Matthew Stafford  DET     1      ARI   27.1          27.08
...                    ...  ...   ...      ...    ...            ...
1128          Tavon Austin  LAR     1      IND   -0.2          -0.20
1129          Sean Mannion  LAR     1      IND   -0.2          -0.22
1130       Jamison Crowder  WAS     1      PHI   -0.6          -0.60
1131            Tom Savage  HOU     1      JAX   -1.5          -1.52
1132           Andy Dalton  CIN     1      BAL   -3.0          -3.00

[1133 rows x 6 columns]

In [433]:
stats_list = []
for i in range(2,18):
    name = 'Data/Historic_Stats/2017_' + str(i) + '.csv'
    stats_list.append(name)

In [434]:
stats_list

['Data/Historic_Stats/2017_2.csv',
 'Data/Historic_Stats/2017_3.csv',
 'Data/Historic_Stats/2017_4.csv',
 'Data/Historic_Stats/2017_5.csv',
 'Data/Historic_Stats/2017_6.csv',
 'Data/Historic_Stats/2017_7.csv',
 'Data/Historic_Stats/2017_8.csv',
 'Data/Historic_Stats/2017_9.csv',
 'Data/Historic_Stats/2017_10.csv',
 'Data/Historic_Stats/2017_11.csv',
 'Data/Historic_Stats/2017_12.csv',
 'Data/Historic_Stats/2017_13.csv',
 'Data/Historic_Stats/2017_14.csv',
 'Data/Historic_Stats/2017_15.csv',
 'Data/Historic_Stats/2017_16.csv',
 'Data/Historic_Stats/2017_17.csv']

In [435]:
appended_data = pd.DataFrame()
for index, item in enumerate(stats_list):
    df = pd.read_csv(item)
    df = df[['Name', 'Team', 'Week', 'Opponent', 'FantasyPointsPerGameFanDuel', 'FantasyPointsFanDuel']]
    df = df.rename(columns={'FantasyPointsPerGameFanDuel':'FPPPG', 'FantasyPointsFanDuel':'Points_Scored'})
    appended_data = appended_data.append(df)

In [436]:
historic_stats = pd.concat([historic_stats, appended_data])

In [437]:
historic_stats = historic_stats.reset_index(drop=True)

In [438]:
proj_list = []
for i in range(1,18):
    name = 'Data/Historic_Proj/2017_' + str(i) + '.csv'
    proj_list.append(name)

In [439]:
historic_projections = pd.DataFrame()
for item in proj_list:
    df = pd.read_csv(item)
    df = df[['Name', 'Position', 'Week', 'Team','UpcomingOpponentPositionRank', 'FantasyPointsFanDuel', 'OperatorSalary']]
    df = df.rename(columns={'UpcomingOpponentPositionRank':'OPRNK', 'FantasyPointsFanDuel': 'Projected', 'OperatorSalary': 'Salary'})
    historic_projections = historic_projections.append(df)

In [440]:
historic_projections

                     Name Position  Week Team  OPRNK  Projected  Salary
0           David Johnson       RB     1  ARI    8.0      20.86    9400
1            Le'Veon Bell       RB     1  PIT   31.0      21.31    9300
2           Antonio Brown       WR     1  PIT   25.0      17.17    9100
3             Julio Jones       WR     1  ATL   27.0      15.88    9000
4               Tom Brady       QB     1   NE   10.0      20.06    8900
..                    ...      ...   ...  ...    ...        ...     ...
705   San Francisco 49ers      DST    17   SF    NaN       8.20    4000
706        Dallas Cowboys      DST    17  DAL    NaN       7.70    4000
707  Tampa Bay Buccaneers      DST    17   TB    NaN       4.50    4000
708         New York Jets      DST    17  NYJ    NaN       2.90    4000
709      Cleveland Browns      DST    17  CLE    NaN       5.10    3000

[9154 rows x 7 columns]

In [441]:
data_2017 = historic_stats.merge(historic_projections, how='inner', on=['Name', 'Week', 'Team'])

In [442]:
offense_2017 = data_2017[data_2017['Position'] != 'DST']

In [443]:
offense_2017 = offense_2017.drop_duplicates()

In [444]:
offense_2017['Name'].value_counts()

Chris Thompson    18
Kirk Cousins      15
Vernon Davis      15
Eric Decker       15
Delanie Walker    15
                  ..
Austin Carr        1
Nate Sudfeld       1
Geremy Davis       1
Chase Daniel       1
Sam Bradford       1
Name: Name, Length: 584, dtype: int64

In [445]:
offense_2017 = offense_2017.drop(offense_2017[(offense_2017['Name'] == 'Chris Thompson') & (offense_2017['Team'] == 'HOU')].index)

In [446]:
offense_2017['Name'].value_counts()

Samaje Perine     15
Kirk Cousins      15
Derrick Henry     15
Josh Doctson      15
Delanie Walker    15
                  ..
Austin Carr        1
Nate Sudfeld       1
Geremy Davis       1
Chase Daniel       1
Sam Bradford       1
Name: Name, Length: 584, dtype: int64

Testing FPPG Add

In [447]:
grouped = offense_2017.groupby(['Name', 'Week']).sum()

In [448]:
grouped['Games_Played'] = 1

In [449]:
new_df = grouped.groupby(level=0).cumsum().reset_index()

In [450]:
new_df['FP_per_game'] = round(new_df['Points_Scored'] / new_df['Games_Played'], 1)

In [451]:
new_df = new_df[['Name', 'Week', 'FP_per_game', 'Games_Played']]

In [452]:
new_df['Test'] = new_df.groupby('Name')['FP_per_game'].shift()

In [453]:
new_df['Test_2'] = round(new_df.groupby('Name')['Test'].transform(lambda x: x.fillna(x.mean())), 1)

In [454]:
new_df['FPPG'] = new_df['Test_2']

In [455]:
new_df = new_df.drop(['Test', 'Test_2', 'FP_per_game'], axis=1)

In [456]:
new_df.head(50)

               Name  Week  Games_Played  FPPG
0          AJ Derby     1             1   3.3
1          AJ Derby     2             2   3.4
2          AJ Derby     3             3   1.7
3          AJ Derby     4             4   1.5
4          AJ Derby     6             5   5.0
5          AJ Derby     9             6   4.3
6          AJ Derby    10             7   3.8
7          AJ Derby    16             8   3.4
8          AJ Derby    17             9   3.2
9       AJ McCarron     4             1   0.4
10      AJ McCarron    14             2   0.0
11      AJ McCarron    15             3   0.9
12      Aaron Jones     2             1   2.7
13      Aaron Jones     3             2   0.0
14      Aaron Jones     4             3   0.0
15      Aaron Jones     6             4   3.6
16      Aaron Jones     9             5   3.9
17      Aaron Jones    10             6   3.5
18      Aaron Jones    13             7   3.2
19      Aaron Jones    14             8   3.9
20      Aaron Jones    15             9   3.4
21  Aaron Ripkowski     1             1   0.6
22  Aaron Ripkowski     2             2   0.0
23  Aaron Ripkowski     3             3   0.4
24  Aaron Ripkowski     4             4   0.2
25  Aaron Ripkowski     6             5   0.6
26  Aaron Ripkowski     9             6   0.5
27  Aaron Ripkowski    10             7   0.7
28  Aaron Ripkowski    11             8   0.9
29  Aaron Ripkowski    12             9   0.9
30  Aaron Ripkowski    13            10   0.8
31  Aaron Ripkowski    14            11   0.8
32  Aaron Ripkowski    15            12   0.7
33  Aaron Ripkowski    17            13   0.6
34    Aaron Rodgers     1             1  18.7
35    Aaron Rodgers     2             2  16.5
36    Aaron Rodgers     3             3  18.0
37    Aaron Rodgers     4             4  20.6
38    Aaron Rodgers     6             5  21.2
39    Aaron Rodgers    15             6  17.1
40   Adam Humphries     2             1   6.0
41   Adam Humphries     3             2   2.8
42   Adam Humphries     4             3   6.3
43   Adam Humphries     5             4   7.5
44   Adam Humphries     6             5   7.3
45   Adam Humphries     9             6   7.5
46   Adam Humphries    10             7   6.6
47   Adam Humphries    11             8   6.1
48   Adam Humphries    12             9   5.6
49   Adam Humphries    13            10   5.6

In [457]:
offense_2017 = pd.merge(offense_2017, new_df, how='inner', on=['Name', 'Week'])

In [458]:
offense_2017 = offense_2017.drop('FPPPG', axis=1)

In [459]:
offense_2017[offense_2017['Name'] == 'Tom Brady']

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG
60,Tom Brady,NE,1,KC,10.68,QB,10.0,20.06,8900,1,20.8
395,Tom Brady,NE,2,NO,30.78,QB,27.0,22.17,9200,2,10.7
795,Tom Brady,NE,3,HOU,35.72,QB,5.0,18.70,9400,3,20.7
1224,Tom Brady,NE,4,CAR,20.48,QB,7.0,20.62,9500,4,25.7
1622,Tom Brady,NE,5,TB,13.62,QB,30.0,21.87,9500,5,24.4
1669,Tom Brady,NE,6,NYJ,17.18,QB,19.0,20.89,9500,6,22.3
2426,Tom Brady,NE,10,DEN,22.64,QB,15.0,18.06,8500,7,21.4
2776,Tom Brady,NE,11,LV,25.60,QB,22.0,20.53,8600,8,21.6
3139,Tom Brady,NE,12,MIA,21.68,QB,20.0,21.46,9100,9,22.1
3568,Tom Brady,NE,13,BUF,9.32,QB,7.0,19.87,9300,10,22.0
3965,Tom Brady,NE,14,MIA,11.32,QB,17.0,20.70,9500,11,20.8
4325,Tom Brady,NE,15,PIT,16.72,QB,6.0,20.66,8800,12,19.9
4705,Tom Brady,NE,16,BUF,16.56,QB,4.0,19.65,8600,13,19.6
5072,Tom Brady,NE,17,NYJ,15.60,QB,28.0,19.50,8500,14,19.4

In [460]:
offense_2017['Team'].value_counts().index

Index(['TEN', 'DEN', 'PHI', 'NE', 'JAX', 'KC', 'GB', 'TB', 'WAS', 'NYG', 'ATL',
       'BUF', 'CAR', 'LAR', 'LV', 'BAL', 'CIN', 'SF', 'ARI', 'DAL', 'CHI',
       'NYJ', 'PIT', 'MIA', 'SEA', 'CLE', 'NO', 'LAC', 'HOU', 'DET', 'IND',
       'MIN'],
      dtype='object')

## Merge with NFL Betting Data

In [461]:
betting_data = pd.read_excel('Data/clean_nfl_historic_betting_data_Home.xlsx')

In [462]:
betting_data_2 = pd.read_excel('Data/clean_nfl_historic_betting_data_Away.xlsx')

In [463]:
betting_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               4007 non-null   datetime64[ns]
 1   Team               4007 non-null   object
 2   Line Close         1871 non-null   float64
 3   Total Score Close  1871 non-null   float64
 4   Team Proj          1871 non-null   float64
 5   Week               1871 non-null   float64
 6   Home / Away        1871 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 219.3+ KB

In [464]:
betting_data = pd.concat([betting_data, betting_data_2])

In [465]:
betting_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8014 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8014 non-null   datetime64[ns]
 1   Team               8014 non-null   object
 2   Line Close         3742 non-null   float64
 3   Total Score Close  3742 non-null   float64
 4   Team Proj          3742 non-null   float64
 5   Week               3742 non-null   float64
 6   Home / Away        3742 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 500.9+ KB

In [466]:
betting_data['Date'] = betting_data['Date'].dt.year

In [467]:
betting_data = betting_data[betting_data['Date'] == 2017]

In [468]:
betting_data = betting_data[betting_data['Week'] != 0]

In [469]:
betting_data

      Date Team  Line Close  Total Score Close  Team Proj  Week Home / Away
814   2017  DEN        -3.0               37.5      21.75  17.0        Home
815   2017  LAC        -7.0               43.0      28.50  17.0        Home
816   2017  LAR         6.0               44.5      16.25  17.0        Home
817   2017  SEA        -8.0               38.0      27.00  17.0        Home
818   2017  ATL        -5.0               44.5      27.25  17.0        Home
...    ...  ...         ...                ...        ...   ...         ...
1065  2017  ARI        -2.5               48.5      26.75   1.0        Away
1066  2017  JAX         5.0               38.0      14.00   1.0        Away
1067  2017   LV         2.5               49.5      22.25   1.0        Away
1068  2017  PHI        -1.0               49.5      25.75   1.0        Away
1069  2017   KC         8.0               47.5      15.75   1.0        Away

[512 rows x 7 columns]

In [470]:
offense_2017 = offense_2017.merge(betting_data, how='inner', on=['Team', 'Week'])

In [471]:
offense_2017[offense_2017['Week'] == 12].head(50)

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG,Date,Line Close,Total Score Close,Team Proj,Home / Away
3124,Julio Jones,ATL,12,TB,44.80,WR,31.0,13.86,7800,9,10.0,2017,-10.5,47.0,34.00,Home
3125,Tevin Coleman,ATL,12,TB,21.70,RB,21.0,14.56,6200,9,11.3,2017,-10.5,47.0,34.00,Home
3126,Matt Ryan,ATL,12,TB,16.78,QB,23.0,17.79,7600,9,15.6,2017,-10.5,47.0,34.00,Home
3127,Matt Bryant,ATL,12,TB,11.00,K,14.0,9.00,4900,9,10.0,2017,-10.5,47.0,34.00,Home
3128,Austin Hooper,ATL,12,TB,5.30,TE,5.0,7.21,5200,9,7.2,2017,-10.5,47.0,34.00,Home
3129,Taylor Gabriel,ATL,12,TB,3.10,WR,31.0,5.19,5200,9,5.9,2017,-10.5,47.0,34.00,Home
3130,Terron Ward,ATL,12,TB,1.70,RB,21.0,6.69,4900,7,1.2,2017,-10.5,47.0,34.00,Home
3131,Derrick Coleman,ATL,12,TB,0.00,RB,21.0,0.33,4500,9,0.5,2017,-10.5,47.0,34.00,Home
3132,Levine Toilolo,ATL,12,TB,0.00,TE,5.0,1.68,4500,9,2.1,2017,-10.5,47.0,34.00,Home
3133,Eric Saubert,ATL,12,TB,0.00,TE,5.0,0.45,4500,9,0.0,2017,-10.5,47.0,34.00,Home
3134,Andre Roberts,ATL,12,TB,0.00,WR,31.0,0.27,4500,9,-0.0,2017,-10.5,47.0,34.00,Home
3135,Justin Hardy,ATL,12,TB,0.00,WR,31.0,4.01,4500,9,3.9,2017,-10.5,47.0,34.00,Home
3136,Antonio Brown,PIT,12,GB,35.90,WR,26.0,15.76,9600,8,17.6,2017,-14.0,42.5,35.25,Home
3137,Ben Roethlisberger,PIT,12,GB,32.54,QB,13.0,17.69,7900,8,16.8,2017,-14.0,42.5,35.25,Home
3138,Le'Veon Bell,PIT,12,GB,22.30,RB,26.0,17.77,9400,8,17.5,2017,-14.0,42.5,35.25,Home
3139,Martavis Bryant,PIT,12,GB,12.10,WR,26.0,8.03,5200,8,6.2,2017,-14.0,42.5,35.25,Home
3140,Chris Boswell,PIT,12,GB,7.00,K,30.0,9.10,4800,8,9.1,2017,-14.0,42.5,35.25,Home
3141,Xavier Grimble,PIT,12,GB,6.60,TE,1.0,1.70,4500,7,0.0,2017,-14.0,42.5,35.25,Home
3142,Jesse James,PIT,12,GB,4.70,TE,1.0,5.68,4900,8,5.7,2017,-14.0,42.5,35.25,Home
3143,Eli Rogers,PIT,12,GB,3.60,WR,26.0,4.82,4500,7,1.0,2017,-14.0,42.5,35.25,Home
3144,Darrius Heyward-Bey,PIT,12,GB,0.00,WR,26.0,2.26,4500,8,0.0,2017,-14.0,42.5,35.25,Home
3145,James Conner,PIT,12,GB,0.00,RB,26.0,1.74,4600,8,1.2,2017,-14.0,42.5,35.25,Home
3146,Justin Hunter,PIT,12,GB,0.00,WR,26.0,1.68,4500,2,1.0,2017,-14.0,42.5,35.25,Home
3147,Alvin Kamara,NO,12,LAR,33.80,RB,30.0,13.67,8100,9,15.8,2017,2.5,54.0,24.50,Away
3148,Drew Brees,NO,12,LAR,14.34,QB,5.0,16.94,7800,9,18.3,2017,2.5,54.0,24.50,Away
3149,Wil Lutz,NO,12,LAR,10.00,K,2.0,8.60,5100,9,11.5,2017,2.5,54.0,24.50,Away
3150,Michael Thomas,NO,12,LAR,7.70,WR,7.0,13.88,7600,9,11.8,2017,2.5,54.0,24.50,Away
3151,Coby Fleener,NO,12,LAR,1.30,TE,13.0,4.25,4900,9,5.6,2017,2.5,54.0,24.50,Away
3152,Tommylee Lewis,NO,12,LAR,0.00,WR,7.0,2.00,4500,8,1.7,2017,2.5,54.0,24.50,Away
3153,Michael Hoomanawanui,NO,12,LAR,0.00,TE,13.0,1.32,4500,9,1.7,2017,2.5,54.0,24.50,Away
3154,Brandon Coleman,NO,12,LAR,0.00,WR,7.0,3.97,4900,9,4.7,2017,2.5,54.0,24.50,Away
3155,Zach Line,NO,12,LAR,0.00,RB,30.0,0.17,4500,4,0.5,2017,2.5,54.0,24.50,Away
3156,Josh Hill,NO,12,LAR,0.00,TE,13.0,1.70,4500,9,1.2,2017,2.5,54.0,24.50,Away
3157,Trey Edmunds,NO,12,LAR,0.00,TE,13.0,0.00,4500,9,1.4,2017,2.5,54.0,24.50,Away
3158,Robby Anderson,NYJ,12,CAR,29.60,WR,11.0,9.81,6700,8,9.9,2017,5.5,39.5,14.25,Home
3159,Josh McCown,NYJ,12,CAR,25.08,QB,6.0,13.81,7300,8,14.1,2017,5.5,39.5,14.25,Home
3160,Jermaine Kearse,NYJ,12,CAR,20.00,WR,11.0,6.88,5500,8,8.0,2017,5.5,39.5,14.25,Home
3161,Chandler Catanzaro,NYJ,12,CAR,9.00,K,9.0,5.90,4600,8,8.7,2017,5.5,39.5,14.25,Home
3162,Bilal Powell,NYJ,12,CAR,5.10,RB,4.0,8.80,5800,7,8.6,2017,5.5,39.5,14.25,Home
3163,Elijah McGuire,NYJ,12,CAR,3.90,RB,4.0,7.47,5000,8,5.7,2017,5.5,39.5,14.25,Home
3164,Austin Seferian-Jenkins,NYJ,12,CAR,3.70,TE,13.0,7.21,5600,6,7.5,2017,5.5,39.5,14.25,Home
3165,Matt Forte,NYJ,12,CAR,2.60,RB,4.0,2.25,5400,6,10.5,2017,5.5,39.5,14.25,Home
3166,Lawrence Thomas,NYJ,12,CAR,1.00,RB,4.0,0.00,4500,2,0.0,2017,5.5,39.5,14.25,Home
3167,Neal Sterling,NYJ,12,CAR,0.00,WR,11.0,0.00,4500,6,0.3,2017,5.5,39.5,14.25,Home
3168,Ardarius Stewart,NYJ,12,CAR,0.00,WR,11.0,1.25,4500,8,0.9,2017,5.5,39.5,14.25,Home
3169,Eric Tomlinson,NYJ,12,CAR,0.00,TE,13.0,2.00,4500,6,0.7,2017,5.5,39.5,14.25,Home
3170,Chad Hansen,NYJ,12,CAR,0.00,WR,11.0,3.53,4500,7,0.8,2017,5.5,39.5,14.25,Home
3171,Jamaal Williams,GB,12,PIT,27.50,RB,6.0,9.49,5400,9,4.3,2017,14.0,42.5,7.25,Away
3172,Brett Hundley,GB,12,PIT,22.40,QB,3.0,11.97,6200,6,9.2,2017,14.0,42.5,7.25,Away
3173,Davante Adams,GB,12,PIT,16.70,WR,4.0,10.97,6600,9,12.1,2017,14.0,42.5,7.25,Away

## 2018

In [472]:
stats_list = []
for i in range(1,18):
    name = 'Data/Historic_Stats/2018_' + str(i) + '.csv'
    stats_list.append(name)

stats_list

['Data/Historic_Stats/2018_1.csv',
 'Data/Historic_Stats/2018_2.csv',
 'Data/Historic_Stats/2018_3.csv',
 'Data/Historic_Stats/2018_4.csv',
 'Data/Historic_Stats/2018_5.csv',
 'Data/Historic_Stats/2018_6.csv',
 'Data/Historic_Stats/2018_7.csv',
 'Data/Historic_Stats/2018_8.csv',
 'Data/Historic_Stats/2018_9.csv',
 'Data/Historic_Stats/2018_10.csv',
 'Data/Historic_Stats/2018_11.csv',
 'Data/Historic_Stats/2018_12.csv',
 'Data/Historic_Stats/2018_13.csv',
 'Data/Historic_Stats/2018_14.csv',
 'Data/Historic_Stats/2018_15.csv',
 'Data/Historic_Stats/2018_16.csv',
 'Data/Historic_Stats/2018_17.csv']

In [473]:
stats_2018 = pd.DataFrame()
for index, item in enumerate(stats_list):
    df = pd.read_csv(item)
    df = df[['Name', 'Team', 'Week', 'Opponent', 'FantasyPointsPerGameFanDuel', 'FantasyPointsFanDuel']]
    df = df.rename(columns={'FantasyPointsPerGameFanDuel':'FPPPG', 'FantasyPointsFanDuel':'Points_Scored'})
    stats_2018 = stats_2018.append(df)

In [474]:
stats_2018

                     Name Team  Week Opponent  FPPPG  Points_Scored
0        Ryan Fitzpatrick   TB     1       NO   42.3          42.28
1             Tyreek Hill   KC     1      LAC   38.8          38.80
2            Alvin Kamara   NO     1       TB   38.6          38.60
3            James Conner  PIT     1      CLE   31.7          31.70
4              Drew Brees   NO     1       TB   31.6          31.56
...                   ...  ...   ...      ...    ...            ...
1171          Brian Hoyer   NE    17      NYJ   -0.3          -0.30
1172        Jahleel Addae  LAC    17      DEN   -2.0          -2.00
1173      Adoree' Jackson  TEN    17      IND   -2.0          -2.00
1174           Geno Smith  LAC    17      DEN   -2.2          -2.20
1175  San Francisco 49ers   SF    17      LAR   -4.0          -4.00

[19105 rows x 6 columns]

In [475]:
proj_list = []
for i in range(1,18):
    name = 'Data/Historic_Proj/2018_' + str(i) + '.csv'
    proj_list.append(name)
    
proj_list

['Data/Historic_Proj/2018_1.csv',
 'Data/Historic_Proj/2018_2.csv',
 'Data/Historic_Proj/2018_3.csv',
 'Data/Historic_Proj/2018_4.csv',
 'Data/Historic_Proj/2018_5.csv',
 'Data/Historic_Proj/2018_6.csv',
 'Data/Historic_Proj/2018_7.csv',
 'Data/Historic_Proj/2018_8.csv',
 'Data/Historic_Proj/2018_9.csv',
 'Data/Historic_Proj/2018_10.csv',
 'Data/Historic_Proj/2018_11.csv',
 'Data/Historic_Proj/2018_12.csv',
 'Data/Historic_Proj/2018_13.csv',
 'Data/Historic_Proj/2018_14.csv',
 'Data/Historic_Proj/2018_15.csv',
 'Data/Historic_Proj/2018_16.csv',
 'Data/Historic_Proj/2018_17.csv']

In [476]:
projections_2018 = pd.DataFrame()
for item in proj_list:
    df = pd.read_csv(item)
    df = df[['Name', 'Position', 'Week', 'Team','UpcomingOpponentPositionRank', 'FantasyPointsFanDuel', 'OperatorSalary']]
    df = df.rename(columns={'UpcomingOpponentPositionRank':'OPRNK', 'FantasyPointsFanDuel': 'Projected', 'OperatorSalary': 'Salary'})
    projections_2018 = projections_2018.append(df)

In [477]:
projections_2018

                 Name Position  Week Team  OPRNK  Projected  Salary
0         Todd Gurley       RB     1  LAR   17.0      20.49    9000
1       Antonio Brown       WR     1  PIT   15.0      16.99    9000
2     DeAndre Hopkins       WR     1  HOU   29.0      16.25    8800
3       Aaron Rodgers       QB     1   GB    7.0      20.66    8700
4        Alvin Kamara       RB     1   NO   28.0      19.72    8700
..                ...      ...   ...  ...    ...        ...     ...
151        Tyler Boyd       WR    17  CIN   17.0       0.00       0
152    Allen Robinson       WR    17  CHI    2.0       0.00       0
153    Kenny Golladay       WR    17  DET   28.0       0.00       0
154       Todd Gurley       RB    17  LAR   21.0       0.00       0
155  Marquise Goodwin       WR    17   SF   21.0       0.00       0

[9843 rows x 7 columns]

In [478]:
data_2018 = stats_2018.merge(projections_2018, how='inner', on=['Name', 'Week', 'Team'])

In [479]:
offense_2018 = data_2018[data_2018['Position'] != 'DST']

In [480]:
offense_2018 = offense_2018.drop_duplicates()

In [481]:
offense_2018['Name'].value_counts()

Tom Brady           16
Aaron Rodgers       16
Zay Jones           16
Courtland Sutton    16
Jared Goff          16
                    ..
Byron Marshall       1
Eli Rogers           1
Jeremy Hill          1
Wil Lutz             1
Matt Bryant          1
Name: Name, Length: 576, dtype: int64

In [482]:
grouped = offense_2018.groupby(['Name', 'Week']).sum()

In [483]:
grouped['Games_Played'] = 1

In [484]:
new_df = grouped.groupby(level=0).cumsum().reset_index()

In [485]:
new_df['FP_per_game'] = round(new_df['Points_Scored'] / new_df['Games_Played'], 1)

In [486]:
new_df = new_df[['Name', 'Week', 'FP_per_game', 'Games_Played']]

In [487]:
new_df['Test'] = new_df.groupby('Name')['FP_per_game'].shift()

In [488]:
new_df['Test_2'] = round(new_df.groupby('Name')['Test'].transform(lambda x: x.fillna(x.mean())), 1)

In [489]:
new_df['FPPG'] = new_df['Test_2']

In [490]:
new_df = new_df.drop(['Test', 'Test_2', 'FP_per_game'], axis=1)

In [491]:
new_df

             Name  Week  Games_Played  FPPG
0        AJ Derby     1             1   2.6
1        AJ Derby     2             2   0.0
2        AJ Derby     3             3   4.2
3        AJ Derby    10             4   3.5
4     AJ McCarron     9             1   0.3
...           ...   ...           ...   ...
5586    Zay Jones    13            12   6.3
5587    Zay Jones    14            13   7.7
5588    Zay Jones    15            14   7.4
5589    Zay Jones    16            15   7.0
5590    Zay Jones    17            16   7.5

[5591 rows x 4 columns]

In [492]:
offense_2018 = pd.merge(offense_2018, new_df, how='inner', on=['Name', 'Week'])

In [493]:
offense_2018 = offense_2018.drop('FPPPG', axis=1)

In [494]:
offense_2018[offense_2018['Name'] == 'Tom Brady']

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG
19,Tom Brady,NE,1,HOU,22.28,QB,31.0,19.86,8600,1,18.8
426,Tom Brady,NE,2,JAX,16.36,QB,6.0,17.31,8500,2,22.3
860,Tom Brady,NE,3,DET,8.52,QB,13.0,20.49,8500,3,19.3
1155,Tom Brady,NE,4,MIA,20.96,QB,2.0,19.70,8600,4,15.7
1469,Tom Brady,NE,5,IND,29.54,QB,19.0,19.74,8600,5,17.0
1837,Tom Brady,NE,6,KC,21.80,QB,28.0,22.23,8800,6,19.5
2167,Tom Brady,NE,7,CHI,22.68,QB,11.0,17.82,8700,7,19.9
2528,Tom Brady,NE,8,BUF,13.76,QB,4.0,19.29,8600,8,20.3
2830,Tom Brady,NE,9,GB,15.66,QB,19.0,21.58,8600,9,19.5
3162,Tom Brady,NE,10,TEN,11.26,QB,6.0,19.40,8300,10,19.1
3733,Tom Brady,NE,12,NYJ,19.22,QB,13.0,19.19,8200,11,18.3
4081,Tom Brady,NE,13,MIN,15.94,QB,6.0,19.33,7900,12,18.4
4414,Tom Brady,NE,14,MIA,26.62,QB,17.0,19.31,7600,13,18.2
4814,Tom Brady,NE,15,PIT,14.16,QB,22.0,20.30,7900,14,18.8
5252,Tom Brady,NE,16,BUF,7.04,QB,1.0,18.59,7900,15,18.5
5467,Tom Brady,NE,17,NYJ,26.00,QB,26.0,18.04,0,16,17.7

In [495]:
betting_data = pd.read_excel('Data/clean_nfl_historic_betting_data_Home.xlsx')

In [496]:
betting_data_2 = pd.read_excel('Data/clean_nfl_historic_betting_data_Away.xlsx')

In [497]:
betting_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               4007 non-null   datetime64[ns]
 1   Team               4007 non-null   object
 2   Line Close         1871 non-null   float64
 3   Total Score Close  1871 non-null   float64
 4   Team Proj          1871 non-null   float64
 5   Week               1871 non-null   float64
 6   Home / Away        1871 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 219.3+ KB

In [498]:
betting_data = pd.concat([betting_data, betting_data_2])

In [499]:
betting_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8014 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8014 non-null   datetime64[ns]
 1   Team               8014 non-null   object
 2   Line Close         3742 non-null   float64
 3   Total Score Close  3742 non-null   float64
 4   Team Proj          3742 non-null   float64
 5   Week               3742 non-null   float64
 6   Home / Away        3742 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 500.9+ KB

In [500]:
betting_data['Date'] = betting_data['Date'].dt.year

In [501]:
betting_data = betting_data[betting_data['Date'] == 2018]

In [502]:
betting_data = betting_data[betting_data['Week'] != 0]

In [503]:
betting_data

     Date Team  Line Close  Total Score Close  Team Proj  Week Home / Away
547  2018  TEN         4.5               42.5      16.75  17.0        Home
548  2018  BAL        -7.0               40.5      27.25  17.0        Home
549  2018  DEN         6.5               43.5      15.25  17.0        Home
550  2018  LAR       -10.5               49.5      35.25  17.0        Home
551  2018  MIN        -6.0               39.5      25.75  17.0        Home
..    ...  ...         ...                ...        ...   ...         ...
798  2018   SF         6.0               46.5      17.25   1.0        Away
799  2018  HOU         6.5               49.5      18.25   1.0        Away
800  2018   TB        10.0               49.5      14.75   1.0        Away
801  2018  JAX        -3.0               42.5      24.25   1.0        Away
802  2018  ATL         1.0               44.5      21.25   1.0        Away

[512 rows x 7 columns]

In [504]:
offense_2018 = offense_2018.merge(betting_data, how='inner', on=['Team', 'Week'])

In [505]:
offense_2018[offense_2018['Week'] == 12].head(50)

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG,Date,Line Close,Total Score Close,Team Proj,Home / Away
3704,Christian McCaffrey,CAR,12,SEA,41.20,RB,13.0,17.66,8400,11,18.9,2018,-3.0,46.0,26.00,Home
3705,Cam Newton,CAR,12,SEA,23.54,QB,3.0,20.80,8600,11,23.5,2018,-3.0,46.0,26.00,Home
3706,Curtis Samuel,CAR,12,SEA,11.20,WR,20.0,7.00,5300,8,8.4,2018,-3.0,46.0,26.00,Home
3707,Jarius Wright,CAR,12,SEA,3.50,WR,20.0,3.39,4700,11,4.7,2018,-3.0,46.0,26.00,Home
3708,Greg Olsen,CAR,12,SEA,2.10,TE,5.0,8.81,6500,8,9.0,2018,-3.0,46.0,26.00,Home
3709,Damiere Byrd,CAR,12,SEA,0.00,WR,20.0,0.68,4500,8,0.2,2018,-3.0,46.0,26.00,Home
3710,Torrey Smith,CAR,12,SEA,0.00,WR,20.0,5.03,5300,7,6.5,2018,-3.0,46.0,26.00,Home
3711,Cameron Artis-Payne,CAR,12,SEA,0.00,RB,13.0,2.25,4500,4,0.0,2018,-3.0,46.0,26.00,Home
3712,Chris Manhertz,CAR,12,SEA,0.00,TE,5.0,0.15,4000,11,0.1,2018,-3.0,46.0,26.00,Home
3713,Alex Armah,CAR,12,SEA,0.00,RB,13.0,0.38,4500,11,1.3,2018,-3.0,46.0,26.00,Home
3714,Ian Thomas,CAR,12,SEA,0.00,TE,5.0,0.82,4100,11,1.4,2018,-3.0,46.0,26.00,Home
3715,Amari Cooper,DAL,12,WAS,34.00,WR,18.0,10.65,6500,10,8.4,2018,-7.0,40.0,27.00,Home
3716,Dak Prescott,DAL,12,WAS,27.36,QB,19.0,18.37,7400,11,16.9,2018,-7.0,40.0,27.00,Home
3717,Ezekiel Elliott,DAL,12,WAS,22.80,RB,10.0,18.79,8700,11,19.0,2018,-7.0,40.0,27.00,Home
3718,Blake Jarwin,DAL,12,WAS,3.50,TE,7.0,2.93,4000,11,0.6,2018,-7.0,40.0,27.00,Home
3719,Michael Gallup,DAL,12,WAS,2.90,WR,18.0,5.78,4900,11,4.2,2018,-7.0,40.0,27.00,Home
3720,Jamize Olawale,DAL,12,WAS,1.50,RB,10.0,0.17,4500,11,0.1,2018,-7.0,40.0,27.00,Home
3721,Allen Hurns,DAL,12,WAS,1.20,WR,18.0,3.47,4600,11,4.2,2018,-7.0,40.0,27.00,Home
3722,Cole Beasley,DAL,12,WAS,1.00,WR,18.0,7.23,5300,11,8.0,2018,-7.0,40.0,27.00,Home
3723,Rod Smith,DAL,12,WAS,0.70,RB,10.0,2.00,4500,11,1.0,2018,-7.0,40.0,27.00,Home
3724,Dalton Schultz,DAL,12,WAS,0.40,TE,7.0,2.13,4000,6,1.0,2018,-7.0,40.0,27.00,Home
3725,Lance Lenoir,DAL,12,WAS,0.00,WR,18.0,0.69,4500,3,0.0,2018,-7.0,40.0,27.00,Home
3726,Rico Gathers,DAL,12,WAS,0.00,TE,7.0,1.84,4000,10,0.6,2018,-7.0,40.0,27.00,Home
3727,JuJu Smith-Schuster,PIT,12,DEN,31.40,WR,15.0,13.04,7200,11,14.0,2018,-3.0,47.5,26.75,Away
3728,Ben Roethlisberger,PIT,12,DEN,22.28,QB,15.0,20.03,7900,11,23.8,2018,-3.0,47.5,26.75,Away
3729,Antonio Brown,PIT,12,DEN,11.20,WR,15.0,16.28,8500,11,17.8,2018,-3.0,47.5,26.75,Away
3730,Ryan Switzer,PIT,12,DEN,10.10,WR,15.0,3.52,4600,11,3.3,2018,-3.0,47.5,26.75,Away
3731,James Conner,PIT,12,DEN,9.50,RB,22.0,18.39,7900,11,21.1,2018,-3.0,47.5,26.75,Away
3732,Jesse James,PIT,12,DEN,5.50,TE,26.0,3.89,4700,11,5.7,2018,-3.0,47.5,26.75,Away
3733,Vance McDonald,PIT,12,DEN,4.20,TE,26.0,7.74,5500,10,8.2,2018,-3.0,47.5,26.75,Away
3734,Jaylen Samuels,PIT,12,DEN,1.70,RB,22.0,1.94,4600,9,1.5,2018,-3.0,47.5,26.75,Away
3735,Xavier Grimble,PIT,12,DEN,0.80,TE,26.0,0.41,4100,11,0.7,2018,-3.0,47.5,26.75,Away
3736,Darrius Heyward-Bey,PIT,12,DEN,0.00,WR,15.0,0.27,4500,9,0.2,2018,-3.0,47.5,26.75,Away
3737,James Washington,PIT,12,DEN,0.00,WR,15.0,2.55,4600,10,2.0,2018,-3.0,47.5,26.75,Away
3738,Roosevelt Nix,PIT,12,DEN,0.00,RB,22.0,0.33,4500,11,0.5,2018,-3.0,47.5,26.75,Away
3739,Saquon Barkley,NYG,12,PHI,29.70,RB,10.0,19.72,9000,11,22.1,2018,4.0,49.5,20.75,Away
3740,Eli Manning,NYG,12,PHI,14.88,QB,27.0,17.05,6700,11,16.0,2018,4.0,49.5,20.75,Away
3741,Rhett Ellison,NYG,12,PHI,9.70,TE,3.0,2.45,4300,10,3.2,2018,4.0,49.5,20.75,Away
3742,Sterling Shepard,NYG,12,PHI,5.70,WR,31.0,10.01,6000,11,10.2,2018,4.0,49.5,20.75,Away
3743,Russell Shepard,NYG,12,PHI,3.40,WR,31.0,1.33,4500,9,1.0,2018,4.0,49.5,20.75,Away
3744,Bennie Fowler,NYG,12,PHI,3.30,WR,31.0,1.32,4600,3,0.8,2018,4.0,49.5,20.75,Away
3745,Wayne Gallman,NYG,12,PHI,3.30,RB,10.0,2.65,4600,11,1.8,2018,4.0,49.5,20.75,Away
3746,Elijhaa Penny,NYG,12,PHI,1.20,RB,10.0,0.46,4500,7,0.6,2018,4.0,49.5,20.75,Away
3747,Scott Simonson,NYG,12,PHI,0.00,TE,3.0,0.20,4100,11,0.4,2018,4.0,49.5,20.75,Away
3748,Quadree Henderson,NYG,12,PHI,0.00,WR,31.0,0.00,4500,3,0.0,2018,4.0,49.5,20.75,Away
3749,Corey Coleman,NYG,12,PHI,0.00,WR,31.0,1.80,4500,1,0.8,2018,4.0,49.5,20.75,Away
3750,Deshaun Watson,HOU,12,TEN,29.40,QB,7.0,18.45,7900,11,19.6,2018,-3.5,42.5,24.75,Home
3751,Lamar Miller,HOU,12,TEN,23.20,RB,5.0,12.03,6400,10,10.9,2018,-3.5,42.5,24.75,Home
3752,Demaryius Thomas,HOU,12,TEN,17.80,WR,26.0,7.30,5300,11,8.4,2018,-3.5,42.5,24.75,Home
3753,DeAndre Hopkins,HOU,12,TEN,9.90,WR,26.0,15.70,8400,11,17.2,2018,-3.5,42.5,24.75,Home

## Merge 2017 and 2018

In [506]:
merged_df = pd.concat([offense_2017, offense_2018]).reset_index(drop=True)

In [507]:
merged_df

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG,Date,Line Close,Total Score Close,Team Proj,Home / Away
0,Kareem Hunt,KC,1,NE,40.60,RB,3.0,10.73,6400,1,22.9,2017,8.0,47.5,15.75,Away
1,Alex Smith,KC,1,NE,31.02,QB,11.0,14.69,6900,1,21.9,2017,8.0,47.5,15.75,Away
2,Tyreek Hill,KC,1,NE,19.80,WR,9.0,10.48,6700,1,13.8,2017,8.0,47.5,15.75,Away
3,Charcandrick West,KC,1,NE,8.50,RB,3.0,4.27,5000,1,4.4,2017,8.0,47.5,15.75,Away
4,Demetrius Harris,KC,1,NE,7.50,TE,6.0,2.03,4500,1,2.3,2017,8.0,47.5,15.75,Away
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11017,Adrian Peterson,WAS,17,PHI,0.00,RB,14.0,10.38,0,15,11.8,2018,6.0,43.0,15.50,Home
11018,Dustin Hopkins,WAS,17,PHI,0.00,K,30.0,8.11,0,1,NaN,2018,6.0,43.0,15.50,Home
11019,Jamaal Williams,GB,17,DET,3.50,RB,22.0,14.64,0,16,6.5,2018,-7.5,44.5,29.75,Home
11020,Aaron Rodgers,GB,17,DET,1.04,QB,21.0,20.53,0,16,20.9,2018,-7.5,44.5,29.75,Home
11021,Mason Crosby,GB,17,DET,0.00,K,3.0,9.61,0,1,NaN,2018,-7.5,44.5,29.75,Home

In [508]:
merged_df[merged_df['Salary'] == 0]

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG,Date,Line Close,Total Score Close,Team Proj,Home / Away
10892,Josh Allen,BUF,17,MIA,41.46,QB,16.0,17.76,0,12,16.2,2018,-5.5,39.5,25.25,Home
10893,Zay Jones,BUF,17,MIA,24.30,WR,14.0,8.44,0,16,7.5,2018,-5.5,39.5,25.25,Home
10894,LeSean McCoy,BUF,17,MIA,11.40,RB,29.0,8.11,0,14,7.6,2018,-5.5,39.5,25.25,Home
10895,Dak Prescott,DAL,17,NYG,33.48,QB,11.0,6.00,0,16,17.4,2018,7.0,38.5,12.25,Away
10896,Brett Maher,DAL,17,NYG,4.00,K,31.0,7.54,0,1,NaN,2018,7.0,38.5,12.25,Away
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11017,Adrian Peterson,WAS,17,PHI,0.00,RB,14.0,10.38,0,15,11.8,2018,6.0,43.0,15.50,Home
11018,Dustin Hopkins,WAS,17,PHI,0.00,K,30.0,8.11,0,1,NaN,2018,6.0,43.0,15.50,Home
11019,Jamaal Williams,GB,17,DET,3.50,RB,22.0,14.64,0,16,6.5,2018,-7.5,44.5,29.75,Home
11020,Aaron Rodgers,GB,17,DET,1.04,QB,21.0,20.53,0,16,20.9,2018,-7.5,44.5,29.75,Home
11021,Mason Crosby,GB,17,DET,0.00,K,3.0,9.61,0,1,NaN,2018,-7.5,44.5,29.75,Home

In [427]:
merged_df.to_csv('Data/clean_stats.csv')

#### Adding 2019

In [558]:
stats_list = []
for i in range(1,13):
    name = 'Data/Historic_Stats/2019_' + str(i) + '.csv'
    stats_list.append(name)

stats_list

['Data/Historic_Stats/2019_1.csv',
 'Data/Historic_Stats/2019_2.csv',
 'Data/Historic_Stats/2019_3.csv',
 'Data/Historic_Stats/2019_4.csv',
 'Data/Historic_Stats/2019_5.csv',
 'Data/Historic_Stats/2019_6.csv',
 'Data/Historic_Stats/2019_7.csv',
 'Data/Historic_Stats/2019_8.csv',
 'Data/Historic_Stats/2019_9.csv',
 'Data/Historic_Stats/2019_10.csv',
 'Data/Historic_Stats/2019_11.csv',
 'Data/Historic_Stats/2019_12.csv']

In [559]:
stats_2019 = pd.DataFrame()
for index, item in enumerate(stats_list):
    df = pd.read_csv(item)
    df = df[['Name', 'Team', 'Week', 'Opponent', 'FantasyPointsPerGameFanDuel', 'FantasyPointsFanDuel']]
    df = df.rename(columns={'FantasyPointsPerGameFanDuel':'FPPPG', 'FantasyPointsFanDuel':'Points_Scored'})
    stats_2019 = stats_2019.append(df)

In [560]:
stats_2019

                     Name Team  Week Opponent  FPPPG  Points_Scored
0           Sammy Watkins   KC     1      JAX   42.3          42.30
1     Christian McCaffrey  CAR     1      LAR   37.9          37.90
2           Austin Ekeler  LAC     1      IND   36.4          36.40
3           Lamar Jackson  BAL     1      MIA   33.6          33.56
4            Dak Prescott  DAL     1      NYG   33.4          33.40
...                   ...  ...   ...      ...    ...            ...
1052    Green Bay Packers   GB    12       SF   -1.0          -1.00
1053         Mike Glennon   LV    12      NYJ   -1.2          -1.20
1054    James Burgess Jr.  NYJ    12       LV   -2.0          -2.00
1055      Rashaan Gaulden  CAR    12       NO   -2.0          -2.00
1056       Michael Walker  JAX    12      TEN   -2.0          -2.00

[13139 rows x 6 columns]

In [561]:
proj_list = []
for i in range(1,13):
    name = 'Data/Historic_Proj/2019_' + str(i) + '.csv'
    proj_list.append(name)
    
proj_list

['Data/Historic_Proj/2019_1.csv',
 'Data/Historic_Proj/2019_2.csv',
 'Data/Historic_Proj/2019_3.csv',
 'Data/Historic_Proj/2019_4.csv',
 'Data/Historic_Proj/2019_5.csv',
 'Data/Historic_Proj/2019_6.csv',
 'Data/Historic_Proj/2019_7.csv',
 'Data/Historic_Proj/2019_8.csv',
 'Data/Historic_Proj/2019_9.csv',
 'Data/Historic_Proj/2019_10.csv',
 'Data/Historic_Proj/2019_11.csv',
 'Data/Historic_Proj/2019_12.csv']

In [562]:
projections_2019 = pd.DataFrame()
for item in proj_list:
    df = pd.read_csv(item)
    df = df[['Name', 'Position', 'Week', 'Team','UpcomingOpponentPositionRank', 'FantasyPointsFanDuel', 'OperatorSalary']]
    df = df.rename(columns={'UpcomingOpponentPositionRank':'OPRNK', 'FantasyPointsFanDuel': 'Projected', 'OperatorSalary': 'Salary'})
    projections_2019 = projections_2019.append(df)

In [563]:
projections_2019

                         Name Position  Week Team  OPRNK  Projected  Salary
0              Saquon Barkley       RB     1  NYG    8.0      18.45    9200
1             Ezekiel Elliott       RB     1  DAL   25.0      14.89    9100
2             DeAndre Hopkins       WR     1  HOU   32.0      16.29    9000
3         Christian McCaffrey       RB     1  CAR   15.0      18.80    8900
4             Patrick Mahomes       QB     1   KC    9.0      21.07    8700
..                        ...      ...   ...  ...    ...        ...     ...
555            Miami Dolphins      DST    12  MIA    NaN       4.80    3300
556       Philadelphia Eagles      DST    12  PHI    NaN       6.40    3200
557            Dallas Cowboys      DST    12  DAL    NaN       4.70    3200
558         Carolina Panthers      DST    12  CAR    NaN       3.70    3100
559  Washington Football Team      DST    12  WAS    NaN       6.00    3000

[7324 rows x 7 columns]

In [564]:
data_2019 = stats_2019.merge(projections_2019, how='inner', on=['Name', 'Week', 'Team'])

In [565]:
offense_2019 = data_2019[data_2019['Position'] != 'DST']

In [566]:
offense_2019 = offense_2019.drop_duplicates()

In [567]:
offense_2019['Name'].value_counts()

Emmanuel Sanders    12
Dare Ogunbowale     11
Carson Wentz        11
Durham Smythe       11
Sony Michel         11
                    ..
Dalyn Dawkins        1
Sean Mannion         1
Nick Mullens         1
Bo Scarbrough        1
Nick Scott           1
Name: Name, Length: 509, dtype: int64

In [568]:
grouped = offense_2019.groupby(['Name', 'Week']).sum()

In [569]:
grouped['Games_Played'] = 1

In [570]:
new_df = grouped.groupby(level=0).cumsum().reset_index()

In [571]:
new_df['FP_per_game'] = round(new_df['Points_Scored'] / new_df['Games_Played'], 1)

In [572]:
new_df = new_df[['Name', 'Week', 'FP_per_game', 'Games_Played']]

In [573]:
new_df['Test'] = new_df.groupby('Name')['FP_per_game'].shift()

In [574]:
new_df['Test_2'] = round(new_df.groupby('Name')['Test'].transform(lambda x: x.fillna(x.mean())), 1)

In [575]:
new_df['FPPG'] = new_df['Test_2']

In [576]:
new_df = new_df.drop(['Test', 'Test_2', 'FP_per_game'], axis=1)

In [577]:
new_df

            Name  Week  Games_Played  FPPG
0     A.J. Brown     1             1   8.3
1     A.J. Brown     2             2  11.5
2     A.J. Brown     3             3   7.8
3     A.J. Brown     4             4   5.5
4     A.J. Brown     5             5   9.8
...          ...   ...           ...   ...
3898   Zay Jones     8             6   2.1
3899   Zay Jones     9             7   2.4
3900   Zay Jones    10             8   2.6
3901   Zay Jones    11             9   2.4
3902   Zay Jones    12            10   2.6

[3903 rows x 4 columns]

In [578]:
offense_2019 = pd.merge(offense_2019, new_df, how='inner', on=['Name', 'Week'])

In [579]:
offense_2019 = offense_2019.drop('FPPPG', axis=1)

In [580]:
offense_2019[offense_2019['Name'] == 'Tom Brady']

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG
14,Tom Brady,NE,1,PIT,25.64,QB,16.0,18.67,7300,1,20.9
373,Tom Brady,NE,2,MIA,24.66,QB,32.0,21.05,7800,2,25.6
749,Tom Brady,NE,3,NYJ,20.14,QB,13.0,20.24,7800,3,25.2
1207,Tom Brady,NE,4,BUF,4.70,QB,5.0,17.33,7800,4,23.5
1402,Tom Brady,NE,5,WAS,24.92,QB,29.0,19.12,7600,5,18.8
1739,Tom Brady,NE,6,NYG,22.96,QB,26.0,19.77,7700,6,20.0
2084,Tom Brady,NE,7,NYJ,12.96,QB,14.0,17.94,7700,7,20.5
2378,Tom Brady,NE,8,CLE,18.36,QB,23.0,19.15,7900,8,19.4
2735,Tom Brady,NE,9,BAL,14.40,QB,14.0,18.20,7900,9,19.3
3378,Tom Brady,NE,11,PHI,8.54,QB,17.0,19.31,7800,10,18.7
3645,Tom Brady,NE,12,DAL,11.30,QB,9.0,17.87,7700,11,17.7

In [581]:
betting_data = pd.read_excel('Data/clean_nfl_historic_betting_data_Home.xlsx')

In [582]:
betting_data_2 = pd.read_excel('Data/clean_nfl_historic_betting_data_Away.xlsx')

In [583]:
betting_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               4007 non-null   datetime64[ns]
 1   Team               4007 non-null   object
 2   Line Close         1871 non-null   float64
 3   Total Score Close  1871 non-null   float64
 4   Team Proj          1871 non-null   float64
 5   Week               1871 non-null   float64
 6   Home / Away        1871 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 219.3+ KB

In [584]:
betting_data = pd.concat([betting_data, betting_data_2])

In [585]:
betting_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8014 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8014 non-null   datetime64[ns]
 1   Team               8014 non-null   object
 2   Line Close         3742 non-null   float64
 3   Total Score Close  3742 non-null   float64
 4   Team Proj          3742 non-null   float64
 5   Week               3742 non-null   float64
 6   Home / Away        3742 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 500.9+ KB

In [586]:
betting_data['Date'] = betting_data['Date'].dt.year

In [587]:
betting_data = betting_data[betting_data['Date'] == 2019]

In [588]:
betting_data = betting_data[betting_data['Week'] != 0]

In [589]:
betting_data

     Date Team  Line Close  Total Score Close  Team Proj  Week Home / Away
280  2019  SEA         3.5               47.0      20.00  17.0        Home
281  2019  DEN        -4.5               41.0      25.00  17.0        Home
282  2019  LAR        -7.0               45.5      29.75  17.0        Home
283  2019  BAL         1.0               35.0      16.50  17.0        Home
284  2019  BUF         1.0               37.0      17.50  17.0        Home
..    ...  ...         ...                ...        ...   ...         ...
531  2019  BAL        -7.0               40.5      27.25   1.0        Away
532  2019  ATL         3.5               47.0      20.00   1.0        Away
533  2019  BUF         2.5               41.0      18.00   1.0        Away
534  2019  WAS        10.0               44.5      12.25   1.0        Away
535  2019   GB         3.0               46.5      20.25   1.0        Away

[512 rows x 7 columns]

In [590]:
offense_2019 = offense_2019.merge(betting_data, how='inner', on=['Team', 'Week'])

In [591]:
offense_2019[offense_2019['Week'] == 12].head(50)

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG,Date,Line Close,Total Score Close,Team Proj,Home / Away
3594,Lamar Jackson,BAL,12,LAR,36.26,QB,10.0,24.12,9000,11,27.5,2019,-3.5,47.0,27.00,Away
3595,Marquise Brown,BAL,12,LAR,18.70,WR,9.0,8.71,5600,9,10.8,2019,-3.5,47.0,27.00,Away
3596,Miles Boykin,BAL,12,LAR,6.40,WR,9.0,3.28,4700,11,3.0,2019,-3.5,47.0,27.00,Away
3597,Gus Edwards,BAL,12,LAR,5.50,RB,13.0,3.92,5400,11,5.6,2019,-3.5,47.0,27.00,Away
3598,Mark Andrews,BAL,12,LAR,5.50,TE,13.0,10.52,6900,11,11.8,2019,-3.5,47.0,27.00,Away
3599,Seth Roberts,BAL,12,LAR,5.40,WR,9.0,2.47,4700,11,2.4,2019,-3.5,47.0,27.00,Away
3600,Justice Hill,BAL,12,LAR,2.70,RB,13.0,1.36,4500,11,1.6,2019,-3.5,47.0,27.00,Away
3601,Robert Griffin III,BAL,12,LAR,1.26,QB,10.0,0.96,6000,4,2.8,2019,-3.5,47.0,27.00,Away
3602,Nick Boyle,BAL,12,LAR,1.20,TE,13.0,3.91,4800,11,4.4,2019,-3.5,47.0,27.00,Away
3603,Chris Moore,BAL,12,LAR,0.00,WR,9.0,0.38,4600,9,0.4,2019,-3.5,47.0,27.00,Away
3604,De'Anthony Thomas,BAL,12,LAR,0.00,WR,9.0,1.16,4500,9,0.2,2019,-3.5,47.0,27.00,Away
3605,Hayden Hurst,BAL,12,LAR,0.00,TE,13.0,3.18,4500,11,3.5,2019,-3.5,47.0,27.00,Away
3606,Chris Godwin,TB,12,ATL,33.90,WR,26.0,13.64,7800,11,16.5,2019,3.5,51.5,22.25,Away
3607,Jameis Winston,TB,12,ATL,26.32,QB,27.0,20.00,7600,11,19.5,2019,3.5,51.5,22.25,Away
3608,Ronald Jones II,TB,12,ATL,14.20,RB,15.0,9.00,6000,11,9.4,2019,3.5,51.5,22.25,Away
3609,Mike Evans,TB,12,ATL,7.00,WR,26.0,15.69,8000,11,17.2,2019,3.5,51.5,22.25,Away
3610,Breshad Perriman,TB,12,ATL,4.90,WR,26.0,3.25,4900,9,2.7,2019,3.5,51.5,22.25,Away
3611,Peyton Barber,TB,12,ATL,3.20,RB,15.0,4.81,5500,11,7.2,2019,3.5,51.5,22.25,Away
3612,Dare Ogunbowale,TB,12,ATL,1.20,RB,15.0,3.07,4900,11,4.2,2019,3.5,51.5,22.25,Away
3613,Justin Watson,TB,12,ATL,0.00,WR,26.0,0.46,4500,11,0.2,2019,3.5,51.5,22.25,Away
3614,Cameron Brate,TB,12,ATL,0.00,TE,17.0,5.64,5400,11,4.7,2019,3.5,51.5,22.25,Away
3615,Tanner Hudson,TB,12,ATL,0.00,TE,17.0,0.25,4000,5,0.4,2019,3.5,51.5,22.25,Away
3616,Leonard Fournette,JAX,12,TEN,32.40,RB,14.0,15.54,7000,11,14.6,2019,4.0,42.5,17.25,Away
3617,Nick Foles,JAX,12,TEN,14.88,QB,16.0,16.35,7200,3,12.9,2019,4.0,42.5,17.25,Away
3618,Dede Westbrook,JAX,12,TEN,10.90,WR,19.0,8.01,5300,10,7.5,2019,4.0,42.5,17.25,Away
3619,Chris Conley,JAX,12,TEN,6.90,WR,19.0,7.40,5700,11,8.0,2019,4.0,42.5,17.25,Away
3620,Nick O'Leary,JAX,12,TEN,5.60,TE,24.0,1.95,4000,8,0.8,2019,4.0,42.5,17.25,Away
3621,Keelan Cole,JAX,12,TEN,2.80,WR,19.0,3.57,5300,11,3.4,2019,4.0,42.5,17.25,Away
3622,Devine Ozigbo,JAX,12,TEN,0.00,RB,14.0,0.47,4500,5,0.0,2019,4.0,42.5,17.25,Away
3623,Ben Koyack,JAX,12,TEN,0.00,TE,24.0,1.49,4000,4,0.5,2019,4.0,42.5,17.25,Away
3624,Ryquell Armstead,JAX,12,TEN,0.00,RB,14.0,2.84,4500,11,2.6,2019,4.0,42.5,17.25,Away
3625,Michael Walker,JAX,12,TEN,-2.00,WR,19.0,0.00,4500,3,0.0,2019,4.0,42.5,17.25,Away
3626,Ryan Tannehill,TEN,12,JAX,32.36,QB,17.0,16.05,7100,7,14.8,2019,-4.0,42.5,25.25,Home
3627,Derrick Henry,TEN,12,JAX,28.00,RB,24.0,16.03,8400,11,16.4,2019,-4.0,42.5,25.25,Home
3628,A.J. Brown,TEN,12,JAX,21.50,WR,12.0,7.55,5300,11,7.6,2019,-4.0,42.5,25.25,Home
3629,Dion Lewis,TEN,12,JAX,5.00,RB,24.0,3.40,4700,11,2.5,2019,-4.0,42.5,25.25,Home
3630,Corey Davis,TEN,12,JAX,3.90,WR,12.0,6.92,5200,10,7.0,2019,-4.0,42.5,25.25,Home
3631,Adam Humphries,TEN,12,JAX,3.50,WR,12.0,5.98,5300,11,5.7,2019,-4.0,42.5,25.25,Home
3632,MyCole Pruitt,TEN,12,JAX,2.50,TE,15.0,1.62,4000,11,0.0,2019,-4.0,42.5,25.25,Home
3633,Jonnu Smith,TEN,12,JAX,0.40,TE,15.0,5.97,5300,11,4.7,2019,-4.0,42.5,25.25,Home
3634,Anthony Firkser,TEN,12,JAX,0.00,TE,15.0,3.49,5000,10,2.6,2019,-4.0,42.5,25.25,Home
3635,Khari Blasingame,TEN,12,JAX,0.00,RB,24.0,0.15,4500,1,NaN,2019,-4.0,42.5,25.25,Home
3636,Jarvis Landry,CLE,12,MIA,31.80,WR,25.0,11.55,6900,11,11.3,2019,-11.0,46.0,34.00,Home
3637,Baker Mayfield,CLE,12,MIA,24.58,QB,28.0,18.70,7500,11,14.7,2019,-11.0,46.0,34.00,Home
3638,Nick Chubb,CLE,12,MIA,23.90,RB,27.0,17.74,8200,11,16.1,2019,-11.0,46.0,34.00,Home
3639,Kareem Hunt,CLE,12,MIA,11.60,RB,27.0,10.32,5600,3,9.9,2019,-11.0,46.0,34.00,Home
3640,Demetrius Harris,CLE,12,MIA,3.00,TE,18.0,3.18,4500,11,2.8,2019,-11.0,46.0,34.00,Home
3641,Stephen Carlson,CLE,12,MIA,1.30,TE,18.0,1.02,4500,4,2.4,2019,-11.0,46.0,34.00,Home
3642,Ricky Seals-Jones,CLE,12,MIA,0.00,TE,18.0,3.43,5100,9,4.0,2019,-11.0,46.0,34.00,Home
3643,Dontrell Hilliard,CLE,12,MIA,0.00,RB,27.0,1.80,4600,10,3.5,2019,-11.0,46.0,34.00,Home

In [508]:
merged_df[merged_df['Salary'] == 0]

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG,Date,Line Close,Total Score Close,Team Proj,Home / Away
10892,Josh Allen,BUF,17,MIA,41.46,QB,16.0,17.76,0,12,16.2,2018,-5.5,39.5,25.25,Home
10893,Zay Jones,BUF,17,MIA,24.30,WR,14.0,8.44,0,16,7.5,2018,-5.5,39.5,25.25,Home
10894,LeSean McCoy,BUF,17,MIA,11.40,RB,29.0,8.11,0,14,7.6,2018,-5.5,39.5,25.25,Home
10895,Dak Prescott,DAL,17,NYG,33.48,QB,11.0,6.00,0,16,17.4,2018,7.0,38.5,12.25,Away
10896,Brett Maher,DAL,17,NYG,4.00,K,31.0,7.54,0,1,NaN,2018,7.0,38.5,12.25,Away
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11017,Adrian Peterson,WAS,17,PHI,0.00,RB,14.0,10.38,0,15,11.8,2018,6.0,43.0,15.50,Home
11018,Dustin Hopkins,WAS,17,PHI,0.00,K,30.0,8.11,0,1,NaN,2018,6.0,43.0,15.50,Home
11019,Jamaal Williams,GB,17,DET,3.50,RB,22.0,14.64,0,16,6.5,2018,-7.5,44.5,29.75,Home
11020,Aaron Rodgers,GB,17,DET,1.04,QB,21.0,20.53,0,16,20.9,2018,-7.5,44.5,29.75,Home
11021,Mason Crosby,GB,17,DET,0.00,K,3.0,9.61,0,1,NaN,2018,-7.5,44.5,29.75,Home

In [592]:
merged_df = pd.concat([merged_df, offense_2019]).reset_index(drop=True)

In [593]:
merged_df

,Name,Team,Week,Opponent,Points_Scored,Position,OPRNK,Projected,Salary,Games_Played,FPPG,Date,Line Close,Total Score Close,Team Proj,Home / Away
0,Kareem Hunt,KC,1,NE,40.60,RB,3.0,10.73,6400,1,22.9,2017,8.0,47.5,15.75,Away
1,Alex Smith,KC,1,NE,31.02,QB,11.0,14.69,6900,1,21.9,2017,8.0,47.5,15.75,Away
2,Tyreek Hill,KC,1,NE,19.80,WR,9.0,10.48,6700,1,13.8,2017,8.0,47.5,15.75,Away
3,Charcandrick West,KC,1,NE,8.50,RB,3.0,4.27,5000,1,4.4,2017,8.0,47.5,15.75,Away
4,Demetrius Harris,KC,1,NE,7.50,TE,6.0,2.03,4500,1,2.3,2017,8.0,47.5,15.75,Away
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14920,Diontae Spencer,DEN,12,BUF,0.50,WR,6.0,1.38,4600,11,0.5,2019,3.5,37.0,15.00,Away
14921,Fred Brown,DEN,12,BUF,0.00,WR,6.0,0.00,4500,8,0.4,2019,3.5,37.0,15.00,Away
14922,Troy Fumagalli,DEN,12,BUF,0.00,TE,2.0,1.87,4300,6,1.9,2019,3.5,37.0,15.00,Away
14923,Jeff Heuerman,DEN,12,BUF,0.00,TE,2.0,0.71,4200,9,1.5,2019,3.5,37.0,15.00,Away
14924,Devontae Booker,DEN,12,BUF,0.00,RB,19.0,1.38,4500,11,0.2,2019,3.5,37.0,15.00,Away

In [594]:
merged_df.to_csv('Data/clean_stats.csv')

### Clean up Projections Data

In [670]:
stats_2021 = pd.read_csv('Data/Historic_Stats/2021_1.csv')

In [671]:
stats_2021 = stats_2021[['Name', 'Team', 'Week', 'Opponent', 'FantasyPointsPerGameFanDuel', 'FantasyPointsFanDuel']]
stats_2021 = stats_2021.rename(columns={'FantasyPointsPerGameFanDuel':'FPPG', 'FantasyPointsFanDuel':'Points_Scored'})

In [672]:
stats_2021 = stats_2021[['Name', 'FPPG']]

In [673]:
stats_2021

                      Name  FPPG
0             Kyler Murray  34.6
1          Patrick Mahomes  33.3
2             Amari Cooper  32.4
3              Tyreek Hill  31.6
4               Jared Goff  29.9
...                    ...   ...
1243       Isaiah McKenzie  -0.3
1244   Rhamondre Stevenson  -0.4
1245       Ronald Jones II  -0.6
1246  Jacksonville Jaguars  -3.0
1247     Green Bay Packers  -4.0

[1248 rows x 2 columns]

In [676]:
week_2_projections = pd.read_csv('Data/Historic_Proj/2021_2.csv')

In [679]:
week_2_projections = week_2_projections[['Name', 'Position','Opponent', 'Week', 'Team','UpcomingOpponentPositionRank', 'FantasyPointsFanDuel', 'OperatorSalary', 'FanShareProjectedOwnershipPercentage']]
week_2_projections = week_2_projections.rename(columns={'UpcomingOpponentPositionRank':'OPRNK', 'FantasyPointsFanDuel': 'Projected', 'OperatorSalary': 'Salary', 'FanShareProjectedOwnershipPercentage': 'Percentage' })

In [680]:
week_2_projections

,Name,Position,Opponent,Week,Team,OPRNK,Projected,Salary,Percentage
0,Christian McCaffrey,RB,NO,2,CAR,3.0,19.80,10000,0.1
1,Dalvin Cook,RB,ARI,2,MIN,10.0,18.83,9200,12.1
2,Alvin Kamara,RB,CAR,2,NO,5.0,19.90,8800,21.2
3,Kyler Murray,QB,MIN,2,ARI,14.0,25.14,8700,11.5
4,Russell Wilson,QB,TEN,2,SEA,32.0,23.34,8500,8.3
...,...,...,...,...,...,...,...,...,...
657,Minnesota Vikings,DST,ARI,2,MIN,NaN,7.00,3300,0.0
658,Jacksonville Jaguars,DST,DEN,2,JAX,NaN,5.90,3300,0.0
659,Tennessee Titans,DST,SEA,2,TEN,NaN,5.30,3200,0.0
660,Houston Texans,DST,CLE,2,HOU,NaN,4.20,3100,0.0
661,Atlanta Falcons,DST,TB,2,ATL,NaN,4.30,3000,0.0

In [681]:
week_2_projections = week_2_projections.merge(stats_2021, how='inner', on=['Name'])

In [682]:
week_2_projections

,Name,Position,Opponent,Week,Team,OPRNK,Projected,Salary,Percentage,FPPG
0,Christian McCaffrey,RB,NO,2,CAR,3.0,19.80,10000,0.1,23.2
1,Dalvin Cook,RB,ARI,2,MIN,10.0,18.83,9200,12.1,17.4
2,Alvin Kamara,RB,CAR,2,NO,5.0,19.90,8800,21.2,16.6
3,Kyler Murray,QB,MIN,2,ARI,14.0,25.14,8700,11.5,34.6
4,Russell Wilson,QB,TEN,2,SEA,32.0,23.34,8500,8.3,27.1
...,...,...,...,...,...,...,...,...,...,...
372,Minnesota Vikings,DST,ARI,2,MIN,NaN,7.00,3300,0.0,5.0
373,Jacksonville Jaguars,DST,DEN,2,JAX,NaN,5.90,3300,0.0,-3.0
374,Tennessee Titans,DST,SEA,2,TEN,NaN,5.30,3200,0.0,0.0
375,Houston Texans,DST,CLE,2,HOU,NaN,4.20,3100,0.0,7.0
376,Atlanta Falcons,DST,TB,2,ATL,NaN,4.30,3000,0.0,0.0

In [683]:
week_2_projections = week_2_projections.drop_duplicates()

In [684]:
week_2_projections

,Name,Position,Opponent,Week,Team,OPRNK,Projected,Salary,Percentage,FPPG
0,Christian McCaffrey,RB,NO,2,CAR,3.0,19.80,10000,0.1,23.2
1,Dalvin Cook,RB,ARI,2,MIN,10.0,18.83,9200,12.1,17.4
2,Alvin Kamara,RB,CAR,2,NO,5.0,19.90,8800,21.2,16.6
3,Kyler Murray,QB,MIN,2,ARI,14.0,25.14,8700,11.5,34.6
4,Russell Wilson,QB,TEN,2,SEA,32.0,23.34,8500,8.3,27.1
...,...,...,...,...,...,...,...,...,...,...
372,Minnesota Vikings,DST,ARI,2,MIN,NaN,7.00,3300,0.0,5.0
373,Jacksonville Jaguars,DST,DEN,2,JAX,NaN,5.90,3300,0.0,-3.0
374,Tennessee Titans,DST,SEA,2,TEN,NaN,5.30,3200,0.0,0.0
375,Houston Texans,DST,CLE,2,HOU,NaN,4.20,3100,0.0,7.0
376,Atlanta Falcons,DST,TB,2,ATL,NaN,4.30,3000,0.0,0.0

In [685]:
betting_data = pd.read_excel('Data/clean_nfl_historic_betting_data_Home.xlsx')

In [686]:
betting_data_2 = pd.read_excel('Data/clean_nfl_historic_betting_data_Away.xlsx')

In [687]:
betting_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4039 entries, 0 to 4038
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               4039 non-null   datetime64[ns]
 1   Team               4039 non-null   object
 2   Line Close         1903 non-null   float64
 3   Total Score Close  1903 non-null   float64
 4   Team Proj          1903 non-null   float64
 5   Week               1903 non-null   float64
 6   Home / Away        1903 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 221.0+ KB

In [688]:
betting_data = pd.concat([betting_data, betting_data_2])

In [689]:
betting_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8078 entries, 0 to 4038
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               8078 non-null   datetime64[ns]
 1   Team               8078 non-null   object
 2   Line Close         3806 non-null   float64
 3   Total Score Close  3806 non-null   float64
 4   Team Proj          3806 non-null   float64
 5   Week               3806 non-null   float64
 6   Home / Away        3806 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 504.9+ KB

In [690]:
betting_data['Date'] = betting_data['Date'].dt.year

In [691]:
betting_data = betting_data[betting_data['Date'] == 2021]

In [692]:
betting_data = betting_data[betting_data['Week'] != 0]

In [693]:
betting_data

    Date Team  Line Close  Total Score Close  Team Proj  Week Home / Away
0   2021   GB       -10.5               49.5      35.25   2.0        Home
1   2021  BAL         2.5               55.5      25.25   2.0        Home
2   2021  LAC        -2.5               52.5      28.75   2.0        Home
3   2021  SEA        -5.5               52.5      31.75   2.0        Home
4   2021   TB       -12.5               52.5      38.75   2.0        Home
..   ...  ...         ...                ...        ...   ...         ...
56  2021  TEN        -7.0               55.5      34.75  17.0        Away
57  2021  JAX        15.5               48.0       8.50  17.0        Away
58  2021  NYJ         3.0               41.0      17.50  17.0        Away
59  2021  DAL        -1.5               43.5      23.25  17.0        Away
60  2021  ATL         7.0               51.0      18.50  17.0        Away

[95 rows x 7 columns]

In [694]:
week_2_projections = week_2_projections.merge(betting_data, how='inner', on=['Team', 'Week'])

In [695]:
week_2_projections

,Name,Position,Opponent,Week,Team,OPRNK,Projected,Salary,Percentage,FPPG,Date,Line Close,Total Score Close,Team Proj,Home / Away
0,Christian McCaffrey,RB,NO,2,CAR,3.0,19.80,10000,0.1,23.2,2021,3.5,46.5,19.75,Home
1,DJ Moore,WR,NO,2,CAR,4.0,12.15,6700,3.9,12.4,2021,3.5,46.5,19.75,Home
2,Sam Darnold,QB,NO,2,CAR,1.0,17.06,6600,1.0,19.1,2021,3.5,46.5,19.75,Home
3,Robby Anderson,WR,NO,2,CAR,4.0,9.91,6300,3.9,12.2,2021,3.5,46.5,19.75,Home
4,Terrace Marshall Jr.,WR,NO,2,CAR,4.0,6.16,5000,2.4,4.1,2021,3.5,46.5,19.75,Home
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,Jeff Smith,WR,NE,2,NYJ,6.0,0.44,4500,0.0,0.0,2021,5.5,43.5,16.25,Home
373,Justin Hardee,DB,NE,2,NYJ,NaN,0.00,4500,NaN,0.0,2021,5.5,43.5,16.25,Home
374,Trevon Wesco,TE,NE,2,NYJ,3.0,0.48,4100,0.0,0.0,2021,5.5,43.5,16.25,Home
375,Daniel Brown,TE,NE,2,NYJ,3.0,0.14,4000,0.0,0.0,2021,5.5,43.5,16.25,Home
376,New York Jets,DST,NE,2,NYJ,NaN,6.80,3400,0.0,4.0,2021,5.5,43.5,16.25,Home

In [696]:
week_2_projections.to_csv('Data/week_2_projections.csv')